In [44]:
import pandas as pd
import numpy as np

In [45]:
rainfall    =  pd.read_csv('Hoppers Crossing-Hourly-Rainfall.csv')
river_level =  pd.read_csv('Hoppers Crossing-Hourly-River-Level.csv')

In [46]:
relation = pd.merge(rainfall,river_level,on='Date/Time')

In [47]:
relation["Level (m)"].mean()

1.4537013637805263

In [49]:
relation = relation.iloc[::-1]

In [50]:
relation.index = relation.index[::-1]

In [51]:
relation

,Date/Time,Current rainfall (mm),Cumulative rainfall (mm),Level (m)
0,2009-12-02 00:00:00,0.0,0.0,1.40
1,2009-12-02 01:00:00,0.0,0.0,1.40
2,2009-12-02 02:00:00,0.0,0.0,1.40
3,2009-12-02 03:00:00,0.0,0.0,1.39
4,2009-12-02 04:00:00,0.0,0.0,1.39
...,...,...,...,...
78820,2018-12-02 13:00:00,0.0,0.0,1.63
78821,2018-12-02 14:00:00,0.0,0.0,1.63
78822,2018-12-02 15:00:00,0.0,0.0,1.62
78823,2018-12-02 16:00:00,0.0,0.0,1.61
78824,2018-12-02 17:00:00,0.0,0.0,1.61

In [53]:
relation['date'] = pd.to_datetime(relation['Date/Time'])

In [59]:
relation.resample('1M', on = 'date').mean()

            Current rainfall (mm)  Cumulative rainfall (mm)  Level (m)
date
2009-12-31               0.050000                  0.634444   1.385625
2010-01-31               0.010753                  0.251075   1.319570
2010-02-28               0.047619                  0.914881   1.332619
2010-03-31               0.067204                  1.050269   1.368548
2010-04-30               0.050000                  0.336389   1.397653
...                           ...                       ...        ...
2018-08-31               0.040323                  0.366667   1.527016
2018-09-30               0.000000                  0.155556   1.500917
2018-10-31               0.026991                  0.515520   1.516937
2018-11-30               0.087222                  1.434444   1.557764
2018-12-31               0.019048                  0.885714   1.547619

[109 rows x 3 columns]

In [97]:
monthly_avg_rainfall = dict()
monthly_avg_cumulative_rainfall = dict()
monthly_avg_Level = dict()

In [98]:
#Briefly after this step when program get one random day it ll know which month it is and 
# what is average water level for this season
for month in range(1,12+1):
    count = 0
    value_rainfall = 0
    value_level = 0
    value_cumulative = 0
    
    
    if month == 12:
        month = 0
        
    for i in range(relation.resample('1M', on = 'date').mean().shape[0]):   
        
        if i%12 == month:
            
            count +=1 
            value_rainfall += relation.resample('1M', on = 'date').mean().iloc[i][0]
            value_cumulative += relation.resample('1M', on = 'date').mean().iloc[i][1]
            value_level += relation.resample('1M', on = 'date').mean().iloc[i][2]
        
    
    value_rainfall  = value_rainfall/count
    value_cumulative = value_cumulative/count
    value_level = value_level/count
    
    if month == 0:
        month = 12
    
    monthly_avg_rainfall[month] = value_rainfall
    monthly_avg_cumulative_rainfall[month] = value_cumulative
    monthly_avg_Level[month] = value_level
    print('this is count ',count,'Month num ',month)

this is count  9 Month num  1
this is count  9 Month num  2
this is count  9 Month num  3
this is count  9 Month num  4
this is count  9 Month num  5
this is count  9 Month num  6
this is count  9 Month num  7
this is count  9 Month num  8
this is count  9 Month num  9
this is count  9 Month num  10
this is count  9 Month num  11
this is count  10 Month num  12

In [116]:
relation.resample('1D', on = 'date').mean().shape

(3288, 3)

In [157]:
input_all_batches = list()
output_all_batches = list()

In [158]:
# Max limit height of water in river
max_height = 1.5

In [159]:
# with this step program process data in a form that we want to give as an input to NN

#input for NN ( Water level height of river, average height for this season, Avg rainfall next week , Avg rainfall second week
#ouyput -> Max height in 3rd week

for i in range(relation.resample('1D', on = 'date').mean().shape[0] - 21 ): 
    one_input = list()
    output = list()
    print(relation.resample('1D', on = 'date').mean().iloc[i])
    #inputs
    level = relation.resample('1D', on = 'date').mean().iloc[1][2]
    month = relation.resample('1D', on = 'date').mean().index[i].month
    
    month_avg = monthly_avg_Level[month]
    
    cumulative_rain_fall_1 = relation.resample('1D', on = 'date').mean().iloc[i:i+7,1].mean()
    cumulative_rain_fall_2 = relation.resample('1D', on = 'date').mean().iloc[i+7:i+14,1].mean()
    
    one_input.append(level)
    one_input.append(month_avg)
    one_input.append(cumulative_rain_fall_1)
    one_input.append(cumulative_rain_fall_2)
    
    #output
    max_level = relation.resample('1D', on = 'date').mean().iloc[i+14:i+21,2].max()
    output_all_batches.append(max_level)
    
    input_all_batches.append(one_input)
input_all_batches

Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.450
Level (m)                   1.395
Name: 2009-12-02 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    1.3500
Level (m)                   1.3775
Name: 2009-12-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.359583
Name: 2009-12-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.357083
Name: 2009-12-05 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.34875
Name: 2009-12-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.349167
Name: 2009-12-07 00:00:00, dtype: float64
Current rainfall (mm)       0.666667
Cumulative rainfall (mm)    3.708333
Level (m)                   1.467917
Name: 2009-12-08 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    2.400000
Level (m)                   1.481667
Name: 2009-12-09 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.408333
Level (m)                   1.425833
Name: 2009-12-10 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.525000
Level (m)                   1.399583
Name: 2009-12-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.380833
Name: 2009-12-12 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.38
Name: 2009-12-13 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.37125
Name: 2009-12-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.359167
Name: 2009-12-15 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.3475
Name: 2009-12-16 00:00:00, dtype: float64
Current rainfall (mm)       0.333333
Cumulative rainfall (mm)    2.583333
Level (m)                   1.384167
Name: 2009-12-17 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    3.300000
Level (m)                   1.440833
Name: 2009-12-18 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.42
Name: 2009-12-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.381667
Name: 2009-12-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.363333
Name: 2009-12-21 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.36
Name: 2009-12-22 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.350833
Name: 2009-12-23 00:00:00, dtype: float64
Current rainfall (mm)       0.25000
Cumulative rainfall (mm)    1.42500
Level (m)                   1.38125
Name: 2009-12-24 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    2.55000
Level (m)                   1.44625
Name: 2009-12-25 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.41625
Name: 2009-12-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.384583
Name: 2009-12-27 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.36875
Name: 2009-12-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.358333
Name: 2009-12-29 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.352917
Name: 2009-12-30 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    0.333333
Level (m)                   1.358750
Name: 2009-12-31 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    3.841667
Level (m)                   1.456667
Name: 2010-01-01 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    3.125000
Level (m)                   1.541250
Name: 2010-01-02 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0750
Level (m)                   1.4425
Name: 2010-01-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.402917
Name: 2010-01-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.380417
Name: 2010-01-05 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.365833
Name: 2010-01-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.355833
Name: 2010-01-07 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.35
Name: 2010-01-08 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.347083
Name: 2010-01-09 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.33375
Name: 2010-01-10 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.320833
Name: 2010-01-11 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.30625
Name: 2010-01-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.075
Level (m)                   1.290
Name: 2010-01-13 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.07500
Level (m)                   1.27875
Name: 2010-01-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.269167
Name: 2010-01-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.257083
Name: 2010-01-16 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.240417
Name: 2010-01-17 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.316667
Level (m)                   1.298750
Name: 2010-01-18 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.22500
Level (m)                   1.34625
Name: 2010-01-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.337917
Name: 2010-01-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.328333
Name: 2010-01-21 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.32125
Name: 2010-01-22 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.309167
Name: 2010-01-23 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.293333
Name: 2010-01-24 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.282083
Name: 2010-01-25 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.267083
Name: 2010-01-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.258333
Name: 2010-01-27 00:00:00, dtype: float64

Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.247083
Name: 2010-01-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.239167
Name: 2010-01-29 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.225
Name: 2010-01-30 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.050000
Level (m)                   1.214167
Name: 2010-01-31 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.199167
Name: 2010-02-01 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.181667
Name: 2010-02-02 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.17125
Name: 2010-02-03 00:00:00, dtype: float64
Current rainfall (mm)       0.416667
Cumulative rainfall (mm)    2.825000
Level (m)                   1.270417
Name: 2010-02-04 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    3.075000
Level (m)                   1.374167
Name: 2010-02-05 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.349583
Name: 2010-02-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.342083
Name: 2010-02-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.333333
Name: 2010-02-08 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.319583
Name: 2010-02-09 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.083333
Level (m)                   1.309583
Name: 2010-02-10 00:00:00, dtype: float64
Current rainfall (mm)       0.750000
Cumulative rainfall (mm)    8.358333
Level (m)                   1.458750
Name: 2010-02-11 00:00:00, dtype: float64
Current rainfall (mm)        0.000000
Cumulative rainfall (mm)    11.200000
Level (m)                    1.568333
Name: 2010-02-12 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.43875
Name: 2010-02-13 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.407083
Name: 2010-02-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.386667
Name: 2010-02-15 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.37375
Name: 2010-02-16 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.362917
Name: 2010-02-17 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.357917
Name: 2010-02-18 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.35
Name: 2010-02-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.344583
Name: 2010-02-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.332083
Name: 2010-02-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.325833
Name: 2010-02-22 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.314583
Name: 2010-02-23 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.304583
Name: 2010-02-24 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.29625
Name: 2010-02-25 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.28625
Name: 2010-02-26 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.28
Name: 2010-02-27 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.274167
Name: 2010-02-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.150000
Level (m)                   1.266667
Name: 2010-03-01 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.256667
Name: 2010-03-02 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.195833
Name: 2010-03-03 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.24
Name: 2010-03-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.234167
Name: 2010-03-05 00:00:00, dtype: float64
Current rainfall (mm)       0.833333
Cumulative rainfall (mm)    6.383333
Level (m)                   1.363750
Name: 2010-03-06 00:00:00, dtype: float64
Current rainfall (mm)        0.916667
Cumulative rainfall (mm)    11.033333
Level (m)                    1.621667
Name: 2010-03-07 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    9.666667
Level (m)                   1.717083
Name: 2010-03-08 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.141667
Level (m)                   1.517917
Name: 2010-03-09 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.033333
Level (m)                   1.452917
Name: 2010-03-10 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.07500
Level (m)                   1.40375
Name: 2010-03-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.394583
Name: 2010-03-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.382917
Name: 2010-03-13 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.374583
Name: 2010-03-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.366667
Name: 2010-03-15 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.36
Name: 2010-03-16 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.354583
Name: 2010-03-17 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.35
Name: 2010-03-18 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.35
Name: 2010-03-19 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.34625
Name: 2010-03-20 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.34
Name: 2010-03-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.335
Name: 2010-03-22 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.327917
Name: 2010-03-23 00:00:00, dtype: float64

Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.32
Name: 2010-03-24 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.316667
Name: 2010-03-25 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.31
Name: 2010-03-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.306667
Name: 2010-03-27 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.1
Level (m)                   1.3
Name: 2010-03-28 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    2.775000
Level (m)                   1.437500
Name: 2010-03-29 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    1.20
Level (m)                   1.46
Name: 2010-03-30 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.42125
Name: 2010-03-31 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.395833
Name: 2010-04-01 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.384167
Name: 2010-04-02 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.375
Name: 2010-04-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.367083
Name: 2010-04-04 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.36
Name: 2010-04-05 00:00:00, dtype: float64
Current rainfall (mm)       1.000000
Cumulative rainfall (mm)    0.191667
Level (m)                   1.358333
Name: 2010-04-06 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    4.725000
Level (m)                   1.535833
Name: 2010-04-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.457917
Name: 2010-04-08 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.419583
Name: 2010-04-09 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.041667
Level (m)                   1.401667
Name: 2010-04-10 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.650000
Level (m)                   1.409167
Name: 2010-04-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.383333
Level (m)                   1.395417
Name: 2010-04-12 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.15
Level (m)                   1.39
Name: 2010-04-13 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.39
Name: 2010-04-14 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.3825
Name: 2010-04-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.374583
Name: 2010-04-16 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.37
Name: 2010-04-17 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.364167
Name: 2010-04-18 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.36
Name: 2010-04-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.291667
Level (m)                   1.371667
Name: 2010-04-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.658333
Level (m)                   1.379167
Name: 2010-04-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.365833
Name: 2010-04-22 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    0.650000
Level (m)                   1.379583
Name: 2010-04-23 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.058333
Level (m)                   1.417083
Name: 2010-04-24 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.325000
Level (m)                   1.430833
Name: 2010-04-25 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.308333
Level (m)                   1.420000
Name: 2010-04-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.166667
Level (m)                   1.418750
Name: 2010-04-27 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.166667
Level (m)                   1.415417
Name: 2010-04-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.175
Level (m)                   1.420
Name: 2010-04-29 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.42
Name: 2010-04-30 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.415
Name: 2010-05-01 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.41
Name: 2010-05-02 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.41
Name: 2010-05-03 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    1.583333
Level (m)                   1.435417
Name: 2010-05-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    2.025
Level (m)                   1.465
Name: 2010-05-05 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.150000
Level (m)                   1.453333
Name: 2010-05-06 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    0.600000
Level (m)                   1.443333
Name: 2010-05-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.341667
Level (m)                   1.470833
Name: 2010-05-08 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.4475
Name: 2010-05-09 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.07500
Level (m)                   1.42375
Name: 2010-05-10 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.425
Level (m)                   1.435
Name: 2010-05-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.436667
Name: 2010-05-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.008333
Level (m)                   1.424167
Name: 2010-05-13 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.07500
Level (m)                   1.41875
Name: 2010-05-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.058333
Level (m)                   1.410000
Name: 2010-05-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.075
Level (m)                   1.410
Name: 2010-05-16 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.41
Name: 2010-05-17 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.41
Name: 2010-05-18 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.41
Name: 2010-05-19 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.41

Name: 2010-05-20 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.41
Name: 2010-05-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.424583
Name: 2010-05-22 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.405417
Name: 2010-05-23 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.458333
Level (m)                   1.421667
Name: 2010-05-24 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.983333
Level (m)                   1.445833
Name: 2010-05-25 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.483333
Level (m)                   1.445000
Name: 2010-05-26 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    1.0500
Level (m)                   1.4375
Name: 2010-05-27 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.133333
Level (m)                   1.430417
Name: 2010-05-28 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.591667
Level (m)                   1.458333
Name: 2010-05-29 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.091667
Level (m)                   1.454167
Name: 2010-05-30 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.433333
Name: 2010-05-31 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.091667
Level (m)                   1.420833
Name: 2010-06-01 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.414583
Name: 2010-06-02 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.41
Name: 2010-06-03 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.41
Name: 2010-06-04 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    1.250000
Level (m)                   1.431667
Name: 2010-06-05 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    2.408333
Level (m)                   1.482083
Name: 2010-06-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.450000
Level (m)                   1.450417
Name: 2010-06-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.431667
Name: 2010-06-08 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    0.383333
Level (m)                   1.449167
Name: 2010-06-09 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.375
Level (m)                   1.455
Name: 2010-06-10 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.816667
Level (m)                   1.440833
Name: 2010-06-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.850
Level (m)                   1.445
Name: 2010-06-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.435417
Name: 2010-06-13 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.424583
Name: 2010-06-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.418333
Name: 2010-06-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.412917
Name: 2010-06-16 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.916667
Level (m)                   1.448333
Name: 2010-06-17 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    1.27500
Level (m)                   1.45625
Name: 2010-06-18 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.466667
Level (m)                   1.463750
Name: 2010-06-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.183333
Level (m)                   1.445833
Name: 2010-06-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.150000
Level (m)                   1.429167
Name: 2010-06-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.425833
Name: 2010-06-22 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.4075
Name: 2010-06-23 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.41
Name: 2010-06-24 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    2.275000
Level (m)                   1.450833
Name: 2010-06-25 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    2.691667
Level (m)                   1.491667
Name: 2010-06-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.150000
Level (m)                   1.453333
Name: 2010-06-27 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.434583
Name: 2010-06-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.525000
Level (m)                   1.430833
Name: 2010-06-29 00:00:00, dtype: float64
Current rainfall (mm)       0.583333
Cumulative rainfall (mm)    1.275000
Level (m)                   1.485833
Name: 2010-06-30 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.465833
Name: 2010-07-01 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.436667
Name: 2010-07-02 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.43
Name: 2010-07-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.421667
Name: 2010-07-04 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.42
Name: 2010-07-05 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.42
Name: 2010-07-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.083333
Level (m)                   1.420000
Name: 2010-07-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.075
Level (m)                   1.420
Name: 2010-07-08 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.42
Name: 2010-07-09 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.412083
Name: 2010-07-10 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.41875
Name: 2010-07-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.416667
Name: 2010-07-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.366667
Level (m)                   1.422500
Name: 2010-07-13 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    1.475000
Level (m)                   1.438333
Name: 2010-07-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.425000
Level (m)                   1.461667
Name: 2010-07-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.442917
Name: 2010-07-16 00:00:00, dtype: float64

Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.429167
Name: 2010-07-17 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    1.033333
Level (m)                   1.434583
Name: 2010-07-18 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    1.425
Level (m)                   1.450
Name: 2010-07-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.083333
Level (m)                   1.437917
Name: 2010-07-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.075
Level (m)                   1.425
Name: 2010-07-21 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.116667
Level (m)                   1.423750
Name: 2010-07-22 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.208333
Level (m)                   1.428333
Name: 2010-07-23 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.43
Name: 2010-07-24 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.422083
Name: 2010-07-25 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.42
Name: 2010-07-26 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.42
Name: 2010-07-27 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    1.316667
Level (m)                   1.434167
Name: 2010-07-28 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    2.716667
Level (m)                   1.476250
Name: 2010-07-29 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.183333
Level (m)                   1.455000
Name: 2010-07-30 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.233333
Level (m)                   1.430833
Name: 2010-07-31 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    1.291667
Level (m)                   1.466667
Name: 2010-08-01 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.158333
Level (m)                   1.497083
Name: 2010-08-02 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.275000
Level (m)                   1.460417
Name: 2010-08-03 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    2.291667
Level (m)                   1.469583
Name: 2010-08-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    2.775000
Level (m)                   1.504583
Name: 2010-08-05 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.10000
Level (m)                   1.46375
Name: 2010-08-06 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.07500
Level (m)                   1.43875
Name: 2010-08-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.423333
Name: 2010-08-08 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.415
Name: 2010-08-09 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    2.441667
Level (m)                   1.455833
Name: 2010-08-10 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    4.108333
Level (m)                   1.512500
Name: 2010-08-11 00:00:00, dtype: float64
Current rainfall (mm)       0.333333
Cumulative rainfall (mm)    5.733333
Level (m)                   1.671250
Name: 2010-08-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.325000
Level (m)                   1.500833
Name: 2010-08-13 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.458333
Name: 2010-08-14 00:00:00, dtype: float64
Current rainfall (mm)       0.333333
Cumulative rainfall (mm)    1.025000
Level (m)                   1.450000
Name: 2010-08-15 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    1.216667
Level (m)                   1.458333
Name: 2010-08-16 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.325000
Level (m)                   1.453333
Name: 2010-08-17 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.434167
Name: 2010-08-18 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    0.608333
Level (m)                   1.439167
Name: 2010-08-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.200000
Level (m)                   1.462083
Name: 2010-08-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.447917
Name: 2010-08-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.433333
Name: 2010-08-22 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.423333
Name: 2010-08-23 00:00:00, dtype: float64
Current rainfall (mm)       0.500000
Cumulative rainfall (mm)    1.625000
Level (m)                   1.447083
Name: 2010-08-24 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    2.725000
Level (m)                   1.509167
Name: 2010-08-25 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.450000
Level (m)                   1.412083
Name: 2010-08-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.083333
Level (m)                   1.452917
Name: 2010-08-27 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.15
Level (m)                   1.44
Name: 2010-08-28 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.43625
Name: 2010-08-29 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.425
Name: 2010-08-30 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.116667
Level (m)                   1.423333
Name: 2010-08-31 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    1.533333
Level (m)                   1.462083
Name: 2010-09-01 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.825000
Level (m)                   1.489167
Name: 2010-09-02 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.275000
Level (m)                   1.462083
Name: 2010-09-03 00:00:00, dtype: float64
Current rainfall (mm)       0.833333
Cumulative rainfall (mm)    5.891667
Level (m)                   1.687500
Name: 2010-09-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.900000
Level (m)                   1.514583
Name: 2010-09-05 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    1.5250
Level (m)                   1.4925
Name: 2010-09-06 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    2.450000
Level (m)                   1.518750
Name: 2010-09-07 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.116667
Level (m)                   1.469583
Name: 2010-09-08 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.391667
Level (m)                   1.452917
Name: 2010-09-09 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    1.483333
Level (m)                   1.486250
Name: 2010-09-10 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.600000
Level (m)                   1.495833
Name: 2010-09-11 00:00:00, dtype: float64

Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.459167
Name: 2010-09-12 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.44125
Name: 2010-09-13 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.431667
Name: 2010-09-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.309167
Name: 2010-09-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.422917
Name: 2010-09-16 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.42
Name: 2010-09-17 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.058333
Level (m)                   1.425000
Name: 2010-09-18 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.200000
Level (m)                   1.430417
Name: 2010-09-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.434583
Name: 2010-09-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.427083
Name: 2010-09-21 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.42
Name: 2010-09-22 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.42
Name: 2010-09-23 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.42
Name: 2010-09-24 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.42
Name: 2010-09-25 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.42
Name: 2010-09-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.441667
Level (m)                   1.428333
Name: 2010-09-27 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.475000
Level (m)                   1.428333
Name: 2010-09-28 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.3750
Level (m)                   1.4375
Name: 2010-09-29 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.22500
Level (m)                   1.43375
Name: 2010-09-30 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.43
Name: 2010-10-01 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.427083
Name: 2010-10-02 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.42
Name: 2010-10-03 00:00:00, dtype: float64
Current rainfall (mm)       0.666667
Cumulative rainfall (mm)    0.625000
Level (m)                   1.435833
Name: 2010-10-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    3.175000
Level (m)                   1.507917
Name: 2010-10-05 00:00:00, dtype: float64
Current rainfall (mm)       0.333333
Cumulative rainfall (mm)    1.550000
Level (m)                   1.492917
Name: 2010-10-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    2.391667
Level (m)                   1.515833
Name: 2010-10-07 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.07500
Level (m)                   1.46875
Name: 2010-10-08 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.44875
Name: 2010-10-09 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.44
Name: 2010-10-10 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.43
Name: 2010-10-11 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    2.525000
Level (m)                   1.470417
Name: 2010-10-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    4.758333
Level (m)                   1.557917
Name: 2010-10-13 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.533333
Level (m)                   1.489583
Name: 2010-10-14 00:00:00, dtype: float64
Current rainfall (mm)       1.000000
Cumulative rainfall (mm)    5.791667
Level (m)                   1.652500
Name: 2010-10-15 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    4.925000
Level (m)                   1.597083
Name: 2010-10-16 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.1000
Level (m)                   1.5025
Name: 2010-10-17 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.391667
Level (m)                   1.470417
Name: 2010-10-18 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.616667
Level (m)                   1.449583
Name: 2010-10-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.075
Level (m)                   1.440
Name: 2010-10-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.434583
Name: 2010-10-21 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.43
Name: 2010-10-22 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.408333
Level (m)                   1.459583
Name: 2010-10-23 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.444583
Name: 2010-10-24 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.434583
Name: 2010-10-25 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    0.225000
Level (m)                   1.436250
Name: 2010-10-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.683333
Level (m)                   1.452500
Name: 2010-10-27 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.07500
Level (m)                   1.45125
Name: 2010-10-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.435417
Name: 2010-10-29 00:00:00, dtype: float64
Current rainfall (mm)        2.250000
Cumulative rainfall (mm)    14.783333
Level (m)                    1.715833
Name: 2010-10-30 00:00:00, dtype: float64
Current rainfall (mm)        0.250000
Cumulative rainfall (mm)    17.483333
Level (m)                    1.822083
Name: 2010-10-31 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.559583
Name: 2010-11-01 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.533333
Level (m)                   1.499583
Name: 2010-11-02 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.700000
Level (m)                   1.480417
Name: 2010-11-03 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    1.791667
Level (m)                   1.536250
Name: 2010-11-04 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0750
Level (m)                   1.4925
Name: 2010-11-05 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.462083
Name: 2010-11-06 00:00:00, dtype: float64

Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.444167
Name: 2010-11-07 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.44
Name: 2010-11-08 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.43625
Name: 2010-11-09 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.431667
Name: 2010-11-10 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.44
Name: 2010-11-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.258333
Level (m)                   1.445833
Name: 2010-11-12 00:00:00, dtype: float64
Current rainfall (mm)        3.083333
Cumulative rainfall (mm)    14.125000
Level (m)                    1.885000
Name: 2010-11-13 00:00:00, dtype: float64
Current rainfall (mm)        0.000000
Cumulative rainfall (mm)    12.041667
Level (m)                    2.103333
Name: 2010-11-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.225000
Level (m)                   1.839167
Name: 2010-11-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.635833
Name: 2010-11-16 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.558333
Name: 2010-11-17 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.400000
Level (m)                   1.518333
Name: 2010-11-18 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.300000
Level (m)                   1.488333
Name: 2010-11-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.467917
Name: 2010-11-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.166667
Level (m)                   1.460000
Name: 2010-11-21 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.45
Name: 2010-11-22 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.10
Level (m)                   1.45
Name: 2010-11-23 00:00:00, dtype: float64
Current rainfall (mm)       0.833333
Cumulative rainfall (mm)    0.666667
Level (m)                   1.458333
Name: 2010-11-24 00:00:00, dtype: float64
Current rainfall (mm)       0.750000
Cumulative rainfall (mm)    7.566667
Level (m)                   1.697083
Name: 2010-11-25 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    0.733333
Level (m)                   1.528750
Name: 2010-11-26 00:00:00, dtype: float64
Current rainfall (mm)        1.250000
Cumulative rainfall (mm)    14.058333
Level (m)                    1.898750
Name: 2010-11-27 00:00:00, dtype: float64
Current rainfall (mm)        0.750000
Cumulative rainfall (mm)    14.141667
Level (m)                    2.640833
Name: 2010-11-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.150000
Level (m)                   2.129167
Name: 2010-11-29 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.84
Name: 2010-11-30 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.300000
Level (m)                   1.678333
Name: 2010-12-01 00:00:00, dtype: float64
Current rainfall (mm)       0.500000
Cumulative rainfall (mm)    6.100000
Level (m)                   1.680417
Name: 2010-12-02 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    4.908333
Level (m)                   1.727917
Name: 2010-12-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.150
Level (m)                   1.685
Name: 2010-12-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.600833
Name: 2010-12-05 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.56375
Name: 2010-12-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.000000
Level (m)                   1.557917
Name: 2010-12-07 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    5.975000
Level (m)                   1.639167
Name: 2010-12-08 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    5.025000
Level (m)                   1.632083
Name: 2010-12-09 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.466667
Level (m)                   1.588750
Name: 2010-12-10 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.584167
Name: 2010-12-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.575
Level (m)                   1.560
Name: 2010-12-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.550000
Level (m)                   1.532917
Name: 2010-12-13 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.512083
Name: 2010-12-14 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.5
Name: 2010-12-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.499167
Name: 2010-12-16 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    0.600000
Level (m)                   1.500000
Name: 2010-12-17 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    1.000000
Level (m)                   1.545417
Name: 2010-12-18 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    0.891667
Level (m)                   1.547917
Name: 2010-12-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.391667
Level (m)                   1.533750
Name: 2010-12-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.650000
Level (m)                   1.520417
Name: 2010-12-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.525000
Level (m)                   1.500833
Name: 2010-12-22 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.485
Name: 2010-12-23 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.474583
Name: 2010-12-24 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.47
Name: 2010-12-25 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.47
Name: 2010-12-26 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.47
Name: 2010-12-27 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.47
Name: 2010-12-28 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.47
Name: 2010-12-29 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.47
Name: 2010-12-30 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.465417
Name: 2010-12-31 00:00:00, dtype: float64

Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.464167
Name: 2011-01-01 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.46
Name: 2011-01-02 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.46
Name: 2011-01-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.462917
Name: 2011-01-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.462917
Name: 2011-01-05 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.4625
Name: 2011-01-06 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.46
Name: 2011-01-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.166667
Level (m)                   1.467500
Name: 2011-01-08 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.450000
Level (m)                   1.470417
Name: 2011-01-09 00:00:00, dtype: float64
Current rainfall (mm)       0.666667
Cumulative rainfall (mm)    4.608333
Level (m)                   1.526667
Name: 2011-01-10 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    6.591667
Level (m)                   1.609167
Name: 2011-01-11 00:00:00, dtype: float64
Current rainfall (mm)       1.416667
Cumulative rainfall (mm)    6.358333
Level (m)                   1.787917
Name: 2011-01-12 00:00:00, dtype: float64
Current rainfall (mm)        1.000000
Cumulative rainfall (mm)    15.766667
Level (m)                    1.862083
Name: 2011-01-13 00:00:00, dtype: float64
Current rainfall (mm)        0.666667
Cumulative rainfall (mm)    17.175000
Level (m)                    2.480833
Name: 2011-01-14 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    3.97500
Level (m)                   2.24125
Name: 2011-01-15 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.88
Name: 2011-01-16 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.710417
Name: 2011-01-17 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.627083
Name: 2011-01-18 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.593333
Name: 2011-01-19 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.56125
Name: 2011-01-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.545
Name: 2011-01-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.537083
Name: 2011-01-22 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.527083
Name: 2011-01-23 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    0.341667
Level (m)                   1.539583
Name: 2011-01-24 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.091667
Level (m)                   1.538333
Name: 2011-01-25 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    1.37500
Level (m)                   1.56625
Name: 2011-01-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.550417
Name: 2011-01-27 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.53
Name: 2011-01-28 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.52
Name: 2011-01-29 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.515
Name: 2011-01-30 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.51
Name: 2011-01-31 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.51
Name: 2011-02-01 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.5025
Name: 2011-02-02 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.066667
Level (m)                   1.501250
Name: 2011-02-03 00:00:00, dtype: float64
Current rainfall (mm)        3.333333
Cumulative rainfall (mm)    10.075000
Level (m)                    1.655417
Name: 2011-02-04 00:00:00, dtype: float64
Current rainfall (mm)        0.750000
Cumulative rainfall (mm)    29.233333
Level (m)                    2.567917
Name: 2011-02-05 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   2.019167
Name: 2011-02-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.745417
Name: 2011-02-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.637917
Name: 2011-02-08 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.591667
Name: 2011-02-09 00:00:00, dtype: float64
Current rainfall (mm)       1.666667
Cumulative rainfall (mm)    1.575000
Level (m)                   1.588333
Name: 2011-02-10 00:00:00, dtype: float64
Current rainfall (mm)       0.333333
Cumulative rainfall (mm)    5.775000
Level (m)                   1.678333
Name: 2011-02-11 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.483333
Level (m)                   1.658750
Name: 2011-02-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.545417
Name: 2011-02-13 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   0.88
Name: 2011-02-14 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   0.88
Name: 2011-02-15 00:00:00, dtype: float64
Current rainfall (mm)       0.833333
Cumulative rainfall (mm)    1.900000
Level (m)                   0.880000
Name: 2011-02-16 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    8.325
Level (m)                   0.880
Name: 2011-02-17 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.133333
Level (m)                   0.880000
Name: 2011-02-18 00:00:00, dtype: float64
Current rainfall (mm)       0.583333
Cumulative rainfall (mm)    5.991667
Level (m)                   0.880000
Name: 2011-02-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.275
Level (m)                   0.880
Name: 2011-02-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.225
Level (m)                   0.880
Name: 2011-02-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.145
Name: 2011-02-22 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.116667
Level (m)                   1.567500
Name: 2011-02-23 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.545417
Name: 2011-02-24 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.530833
Name: 2011-02-25 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.066667
Level (m)                   1.520833
Name: 2011-02-26 00:00:00, dtype: float64

Current rainfall (mm)       0.416667
Cumulative rainfall (mm)    1.033333
Level (m)                   1.583333
Name: 2011-02-27 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.225000
Level (m)                   1.562917
Name: 2011-02-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.537917
Name: 2011-03-01 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.523333
Name: 2011-03-02 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.518333
Name: 2011-03-03 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.51
Name: 2011-03-04 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.51
Name: 2011-03-05 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.50625
Name: 2011-03-06 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.5
Name: 2011-03-07 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.5
Name: 2011-03-08 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    1.066667
Level (m)                   1.515000
Name: 2011-03-09 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    1.966667
Level (m)                   1.564583
Name: 2011-03-10 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.54375
Name: 2011-03-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.523333
Name: 2011-03-12 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    1.075000
Level (m)                   1.525833
Name: 2011-03-13 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    1.50000
Level (m)                   1.56375
Name: 2011-03-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.532083
Name: 2011-03-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.515417
Name: 2011-03-16 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.51
Name: 2011-03-17 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.505833
Name: 2011-03-18 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.5
Name: 2011-03-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.506667
Name: 2011-03-20 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.51
Name: 2011-03-21 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.51
Name: 2011-03-22 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.51
Name: 2011-03-23 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.533333
Level (m)                   1.516250
Name: 2011-03-24 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.558333
Level (m)                   1.520000
Name: 2011-03-25 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.513333
Name: 2011-03-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.125
Level (m)                   1.510
Name: 2011-03-27 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    3.008333
Level (m)                   1.506667
Name: 2011-03-28 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    3.75
Level (m)                   1.50
Name: 2011-03-29 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.100000
Level (m)                   1.500000
Name: 2011-03-30 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.075
Level (m)                   1.500
Name: 2011-03-31 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.497083
Name: 2011-04-01 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.497917
Name: 2011-04-02 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.5
Name: 2011-04-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.683333
Level (m)                   1.506250
Name: 2011-04-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.466667
Level (m)                   1.500000
Name: 2011-04-05 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.075
Level (m)                   1.500
Name: 2011-04-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.496667
Name: 2011-04-07 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2011-04-08 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    1.166667
Level (m)                   1.508750
Name: 2011-04-09 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    2.925000
Level (m)                   1.547917
Name: 2011-04-10 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.091667
Level (m)                   1.522917
Name: 2011-04-11 00:00:00, dtype: float64
Current rainfall (mm)       1.666667
Cumulative rainfall (mm)    7.216667
Level (m)                   1.722500
Name: 2011-04-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    3.100000
Level (m)                   1.580833
Name: 2011-04-13 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.225000
Level (m)                   1.532083
Name: 2011-04-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.250
Level (m)                   1.515
Name: 2011-04-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.150000
Level (m)                   1.505417
Name: 2011-04-16 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.5
Name: 2011-04-17 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.5
Name: 2011-04-18 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.5
Name: 2011-04-19 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    1.383333
Level (m)                   1.516250
Name: 2011-04-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    2.225000
Level (m)                   1.554583
Name: 2011-04-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.975
Level (m)                   1.540
Name: 2011-04-22 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-04-23 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-04-24 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-04-25 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-04-26 00:00:00, dtype: float64

Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-04-27 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-04-28 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-04-29 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-04-30 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-05-01 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-05-02 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-05-03 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-05-04 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-05-05 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-05-06 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-05-07 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-05-08 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-05-09 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-05-10 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-05-11 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-05-12 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-05-13 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-05-14 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-05-15 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-05-16 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-05-17 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-05-18 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-05-19 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-05-20 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-05-21 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-05-22 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-05-23 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-05-24 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-05-25 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-05-26 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-05-27 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-05-28 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-05-29 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-05-30 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-05-31 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-06-01 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-06-02 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-06-03 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-06-04 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-06-05 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-06-06 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-06-07 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-06-08 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-06-09 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-06-10 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-06-11 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-06-12 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-06-13 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-06-14 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-06-15 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-06-16 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-06-17 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-06-18 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-06-19 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-06-20 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-06-21 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-06-22 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-06-23 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-06-24 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-06-25 00:00:00, dtype: float64

Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-06-26 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-06-27 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-06-28 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-06-29 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-06-30 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-07-01 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-07-02 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-07-03 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-07-04 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-07-05 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-07-06 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-07-07 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-07-08 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-07-09 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-07-10 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.54
Name: 2011-07-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   0.834167
Name: 2011-07-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.475000
Level (m)                   0.591667
Name: 2011-07-13 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.633333
Level (m)                   1.509583
Name: 2011-07-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.509583
Name: 2011-07-15 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.000000
Level (m)                   1.500000
Name: 2011-07-16 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    0.391667
Level (m)                   1.504167
Name: 2011-07-17 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.741667
Level (m)                   1.545417
Name: 2011-07-18 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.725000
Level (m)                   1.557500
Name: 2011-07-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.529167
Name: 2011-07-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.066667
Level (m)                   1.511250
Name: 2011-07-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.300000
Level (m)                   1.502917
Name: 2011-07-22 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.5
Name: 2011-07-23 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.750000
Level (m)                   1.525000
Name: 2011-07-24 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    1.45000
Level (m)                   1.54375
Name: 2011-07-25 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.60000
Level (m)                   1.53125
Name: 2011-07-26 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.091667
Level (m)                   1.388750
Name: 2011-07-27 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.504583
Name: 2011-07-28 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.5
Name: 2011-07-29 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.5
Name: 2011-07-30 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.5
Name: 2011-07-31 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.5
Name: 2011-08-01 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.5
Name: 2011-08-02 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.5
Name: 2011-08-03 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.5
Name: 2011-08-04 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.058333
Level (m)                   1.500000
Name: 2011-08-05 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.075
Level (m)                   1.500
Name: 2011-08-06 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.5
Name: 2011-08-07 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.5
Name: 2011-08-08 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.083333
Level (m)                   1.500000
Name: 2011-08-09 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.758333
Level (m)                   1.505833
Name: 2011-08-10 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.825
Level (m)                   1.510
Name: 2011-08-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.504167
Name: 2011-08-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.025
Level (m)                   1.500
Name: 2011-08-13 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.158333
Level (m)                   1.500000
Name: 2011-08-14 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    1.358333
Level (m)                   1.512500
Name: 2011-08-15 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    1.533333
Level (m)                   1.528750
Name: 2011-08-16 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    0.825000
Level (m)                   1.520833
Name: 2011-08-17 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.825
Level (m)                   1.520
Name: 2011-08-18 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.2500
Level (m)                   1.5075
Name: 2011-08-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.100000
Level (m)                   1.498333
Name: 2011-08-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.075
Level (m)                   1.490
Name: 2011-08-21 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2011-08-22 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2011-08-23 00:00:00, dtype: float64

Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2011-08-24 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2011-08-25 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2011-08-26 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2011-08-27 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2011-08-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.108333
Level (m)                   1.490417
Name: 2011-08-29 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.075
Level (m)                   1.490
Name: 2011-08-30 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2011-08-31 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2011-09-01 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2011-09-02 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.484583
Name: 2011-09-03 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.10
Level (m)                   1.48
Name: 2011-09-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.487917
Name: 2011-09-05 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.116667
Level (m)                   1.490000
Name: 2011-09-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.075
Level (m)                   1.490
Name: 2011-09-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.487083
Name: 2011-09-08 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    3.433333
Level (m)                   1.540417
Name: 2011-09-09 00:00:00, dtype: float64
Current rainfall (mm)       0.333333
Cumulative rainfall (mm)    3.408333
Level (m)                   1.558333
Name: 2011-09-10 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.85000
Level (m)                   1.53625
Name: 2011-09-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.508333
Name: 2011-09-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.494167
Name: 2011-09-13 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.116667
Level (m)                   1.495833
Name: 2011-09-14 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.07500
Level (m)                   1.49875
Name: 2011-09-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.495
Name: 2011-09-16 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.490833
Name: 2011-09-17 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2011-09-18 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.041667
Level (m)                   1.490833
Name: 2011-09-19 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.858333
Level (m)                   1.516667
Name: 2011-09-20 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.32500
Level (m)                   1.51625
Name: 2011-09-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.502083
Name: 2011-09-22 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2011-09-23 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2011-09-24 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2011-09-25 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2011-09-26 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2011-09-27 00:00:00, dtype: float64
Current rainfall (mm)       1.583333
Cumulative rainfall (mm)    6.108333
Level (m)                   1.587083
Name: 2011-09-28 00:00:00, dtype: float64
Current rainfall (mm)       0.500000
Cumulative rainfall (mm)    9.133333
Level (m)                   1.610417
Name: 2011-09-29 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    1.791667
Level (m)                   1.558333
Name: 2011-09-30 00:00:00, dtype: float64
Current rainfall (mm)       0.333333
Cumulative rainfall (mm)    4.108333
Level (m)                   1.625833
Name: 2011-10-01 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.278261
Level (m)                   1.530435
Name: 2011-10-02 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.504583
Name: 2011-10-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.494167
Name: 2011-10-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.485
Name: 2011-10-05 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.482083
Name: 2011-10-06 00:00:00, dtype: float64
Current rainfall (mm)       0.500000
Cumulative rainfall (mm)    0.875000
Level (m)                   1.494583
Name: 2011-10-07 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    2.30000
Level (m)                   1.54625
Name: 2011-10-08 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.116667
Level (m)                   1.510417
Name: 2011-10-09 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    0.300000
Level (m)                   1.497917
Name: 2011-10-10 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.483333
Level (m)                   1.500417
Name: 2011-10-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.495417
Name: 2011-10-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.485417
Name: 2011-10-13 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.48
Name: 2011-10-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.479583
Name: 2011-10-15 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.48
Name: 2011-10-16 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.475833
Name: 2011-10-17 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.473333
Name: 2011-10-18 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.47
Name: 2011-10-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.016667
Level (m)                   1.470000
Name: 2011-10-20 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    1.133333
Level (m)                   1.510833
Name: 2011-10-21 00:00:00, dtype: float64

Current rainfall (mm)       0.416667
Cumulative rainfall (mm)    3.458333
Level (m)                   1.546250
Name: 2011-10-22 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    2.791667
Level (m)                   1.534167
Name: 2011-10-23 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    2.075000
Level (m)                   1.520417
Name: 2011-10-24 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    2.225000
Level (m)                   1.537083
Name: 2011-10-25 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.500417
Name: 2011-10-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.484583
Name: 2011-10-27 00:00:00, dtype: float64
Current rainfall (mm)       0.583333
Cumulative rainfall (mm)    1.858333
Level (m)                   1.499583
Name: 2011-10-28 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    5.783333
Level (m)                   1.598333
Name: 2011-10-29 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    2.358333
Level (m)                   1.543750
Name: 2011-10-30 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    1.3500
Level (m)                   1.5175
Name: 2011-10-31 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.485833
Name: 2011-11-01 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    0.291667
Level (m)                   1.478333
Name: 2011-11-02 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.225
Level (m)                   1.470
Name: 2011-11-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.472917
Name: 2011-11-04 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.4675
Name: 2011-11-05 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.467083
Name: 2011-11-06 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.4725
Name: 2011-11-07 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.908333
Level (m)                   1.516250
Name: 2011-11-08 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    3.141667
Level (m)                   1.563750
Name: 2011-11-09 00:00:00, dtype: float64
Current rainfall (mm)       0.333333
Cumulative rainfall (mm)    7.708333
Level (m)                   1.602083
Name: 2011-11-10 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.225000
Level (m)                   1.499583
Name: 2011-11-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.474167
Name: 2011-11-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.460833
Name: 2011-11-13 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.483333
Level (m)                   1.472500
Name: 2011-11-14 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.1250
Level (m)                   1.4675
Name: 2011-11-15 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    1.941667
Level (m)                   1.526250
Name: 2011-11-16 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2011-11-17 00:00:00, dtype: float64
Current rainfall (mm)       1.333333
Cumulative rainfall (mm)    1.316667
Level (m)                   1.485833
Name: 2011-11-18 00:00:00, dtype: float64
Current rainfall (mm)       0.833333
Cumulative rainfall (mm)    6.883333
Level (m)                   1.627083
Name: 2011-11-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    4.150000
Level (m)                   1.549583
Name: 2011-11-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.484583
Name: 2011-11-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.091667
Level (m)                   1.465000
Name: 2011-11-22 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0750
Level (m)                   1.4575
Name: 2011-11-23 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.45
Name: 2011-11-24 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.45
Name: 2011-11-25 00:00:00, dtype: float64
Current rainfall (mm)        1.833333
Cumulative rainfall (mm)    18.650000
Level (m)                    1.786667
Name: 2011-11-26 00:00:00, dtype: float64
Current rainfall (mm)        0.2500
Cumulative rainfall (mm)    20.0000
Level (m)                    1.8275
Name: 2011-11-27 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.593333
Name: 2011-11-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.547083
Name: 2011-11-29 00:00:00, dtype: float64
Current rainfall (mm)       0.416667
Cumulative rainfall (mm)    1.408333
Level (m)                   1.521667
Name: 2011-11-30 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.275000
Level (m)                   1.498333
Name: 2011-12-01 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.471667
Name: 2011-12-02 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.45625
Name: 2011-12-03 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.45
Name: 2011-12-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.445833
Name: 2011-12-05 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.44625
Name: 2011-12-06 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.45
Name: 2011-12-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.445833
Name: 2011-12-08 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.44
Name: 2011-12-09 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    2.533333
Level (m)                   1.478750
Name: 2011-12-10 00:00:00, dtype: float64
Current rainfall (mm)       1.333333
Cumulative rainfall (mm)    9.183333
Level (m)                   1.624167
Name: 2011-12-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.488333
Name: 2011-12-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.583333
Level (m)                   1.482500
Name: 2011-12-13 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.485417
Name: 2011-12-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.474583
Name: 2011-12-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.460417
Name: 2011-12-16 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.452917
Name: 2011-12-17 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    0.441667
Level (m)                   1.455000
Name: 2011-12-18 00:00:00, dtype: float64

Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    2.25000
Level (m)                   1.52125
Name: 2011-12-19 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.48625
Name: 2011-12-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.465833
Name: 2011-12-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.455417
Name: 2011-12-22 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.45
Name: 2011-12-23 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.45
Name: 2011-12-24 00:00:00, dtype: float64
Current rainfall (mm)        1.666667
Cumulative rainfall (mm)    10.250000
Level (m)                    1.641667
Name: 2011-12-25 00:00:00, dtype: float64
Current rainfall (mm)        0.000000
Cumulative rainfall (mm)    14.325000
Level (m)                    1.660833
Name: 2011-12-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.651667
Name: 2011-12-27 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.56125
Name: 2011-12-28 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.52125
Name: 2011-12-29 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.485833
Name: 2011-12-30 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.461667
Name: 2011-12-31 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.445417
Name: 2012-01-01 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.435417
Name: 2012-01-02 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.43
Name: 2012-01-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.008333
Level (m)                   1.431250
Name: 2012-01-04 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.43
Name: 2012-01-05 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.43
Name: 2012-01-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.426667
Name: 2012-01-07 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    1.266667
Level (m)                   1.511667
Name: 2012-01-08 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.300000
Level (m)                   1.487083
Name: 2012-01-09 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.133333
Level (m)                   1.457917
Name: 2012-01-10 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.583333
Level (m)                   1.452083
Name: 2012-01-11 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.15
Level (m)                   1.44
Name: 2012-01-12 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.44
Name: 2012-01-13 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.436667
Name: 2012-01-14 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.43
Name: 2012-01-15 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.42625
Name: 2012-01-16 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.42125
Name: 2012-01-17 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.42
Name: 2012-01-18 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.42
Name: 2012-01-19 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.42
Name: 2012-01-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.429167
Name: 2012-01-21 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.4275
Name: 2012-01-22 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.42375
Name: 2012-01-23 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.422917
Name: 2012-01-24 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.422917
Name: 2012-01-25 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.420833
Name: 2012-01-26 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.42
Name: 2012-01-27 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.42
Name: 2012-01-28 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.42
Name: 2012-01-29 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.42
Name: 2012-01-30 00:00:00, dtype: float64
Current rainfall (mm)       0.583333
Cumulative rainfall (mm)    0.841667
Level (m)                   1.442083
Name: 2012-01-31 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.425833
Name: 2012-02-01 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.422917
Name: 2012-02-02 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.423333
Name: 2012-02-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.423333
Name: 2012-02-04 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    1.0750
Level (m)                   1.4375
Name: 2012-02-05 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.608333
Level (m)                   1.426667
Name: 2012-02-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.423333
Name: 2012-02-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.421667
Name: 2012-02-08 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.42
Name: 2012-02-09 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.418333
Name: 2012-02-10 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.266667
Level (m)                   1.426667
Name: 2012-02-11 00:00:00, dtype: float64

Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.308333
Level (m)                   1.424167
Name: 2012-02-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.419583
Name: 2012-02-13 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.417083
Name: 2012-02-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.408333
Name: 2012-02-15 00:00:00, dtype: float64
Current rainfall (mm)       1.000000
Cumulative rainfall (mm)    4.816667
Level (m)                   1.464583
Name: 2012-02-16 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    5.616667
Level (m)                   1.516667
Name: 2012-02-17 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.466667
Name: 2012-02-18 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.4425
Name: 2012-02-19 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.43
Name: 2012-02-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.425833
Name: 2012-02-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.415417
Name: 2012-02-22 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.410417
Name: 2012-02-23 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.408333
Name: 2012-02-24 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.4025
Name: 2012-02-25 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-02-26 00:00:00, dtype: float64
Current rainfall (mm)       0.666667
Cumulative rainfall (mm)    2.116667
Level (m)                   1.454167
Name: 2012-02-27 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    5.983333
Level (m)                   1.605833
Name: 2012-02-28 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    0.266667
Level (m)                   1.481250
Name: 2012-02-29 00:00:00, dtype: float64
Current rainfall (mm)       0.750000
Cumulative rainfall (mm)    2.183333
Level (m)                   1.539167
Name: 2012-03-01 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.476667
Name: 2012-03-02 00:00:00, dtype: float64
Current rainfall (mm)       0.583333
Cumulative rainfall (mm)    4.166667
Level (m)                   1.494583
Name: 2012-03-03 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    5.933333
Level (m)                   1.572917
Name: 2012-03-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.475
Name: 2012-03-05 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.438333
Name: 2012-03-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.417917
Name: 2012-03-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.412083
Name: 2012-03-08 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.083333
Level (m)                   1.407917
Name: 2012-03-09 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-03-10 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-03-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.397083
Name: 2012-03-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.100000
Level (m)                   1.392917
Name: 2012-03-13 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.15
Level (m)                   1.39
Name: 2012-03-14 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    0.633333
Level (m)                   1.412917
Name: 2012-03-15 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    1.983333
Level (m)                   1.432083
Name: 2012-03-16 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.22500
Level (m)                   1.43625
Name: 2012-03-17 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.4175
Name: 2012-03-18 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.405833
Name: 2012-03-19 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.40125
Name: 2012-03-20 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    1.450000
Level (m)                   1.413750
Name: 2012-03-21 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    1.05
Level (m)                   1.41
Name: 2012-03-22 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.41
Name: 2012-03-23 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.405417
Name: 2012-03-24 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-03-25 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.3975
Name: 2012-03-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.125000
Level (m)                   1.400417
Name: 2012-03-27 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-03-28 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-03-29 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-03-30 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-03-31 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-04-01 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-04-02 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-04-03 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-04-04 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-04-05 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-04-06 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-04-07 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-04-08 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-04-09 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-04-10 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-04-11 00:00:00, dtype: float64

Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-04-12 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-04-13 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-04-14 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-04-15 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-04-16 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-04-17 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-04-18 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-04-19 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-04-20 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-04-21 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-04-22 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-04-23 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-04-24 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-04-25 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-04-26 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-04-27 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-04-28 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-04-29 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-04-30 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-05-01 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-05-02 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-05-03 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-05-04 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-05-05 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-05-06 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-05-07 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-05-08 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-05-09 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-05-10 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-05-11 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-05-12 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-05-13 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-05-14 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-05-15 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-05-16 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-05-17 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-05-18 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-05-19 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-05-20 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-05-21 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-05-22 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-05-23 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-05-24 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-05-25 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-05-26 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-05-27 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-05-28 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-05-29 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-05-30 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-05-31 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-06-01 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-06-02 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-06-03 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-06-04 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-06-05 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-06-06 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-06-07 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-06-08 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-06-09 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-06-10 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-06-11 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-06-12 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-06-13 00:00:00, dtype: float64

Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-06-14 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-06-15 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-06-16 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-06-17 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-06-18 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-06-19 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-06-20 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-06-21 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-06-22 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-06-23 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-06-24 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-06-25 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-06-26 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-06-27 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-06-28 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-06-29 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-06-30 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-07-01 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-07-02 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-07-03 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-07-04 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-07-05 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-07-06 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-07-07 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-07-08 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-07-09 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-07-10 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-07-11 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-07-12 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-07-13 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-07-14 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-07-15 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-07-16 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-07-17 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-07-18 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-07-19 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-07-20 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-07-21 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-07-22 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-07-23 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-07-24 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-07-25 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-07-26 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-07-27 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-07-28 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-07-29 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-07-30 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-07-31 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-08-01 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-08-02 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-08-03 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-08-04 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-08-05 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-08-06 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-08-07 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-08-08 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-08-09 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-08-10 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-08-11 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-08-12 00:00:00, dtype: float64

Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-08-13 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-08-14 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-08-15 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-08-16 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-08-17 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-08-18 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-08-19 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-08-20 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-08-21 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-08-22 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-08-23 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-08-24 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-08-25 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-08-26 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-08-27 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-08-28 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-08-29 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-08-30 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-08-31 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-09-01 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-09-02 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-09-03 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-09-04 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-09-05 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-09-06 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-09-07 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-09-08 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-09-09 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-09-10 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-09-11 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-09-12 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-09-13 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-09-14 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-09-15 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-09-16 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-09-17 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-09-18 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-09-19 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-09-20 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-09-21 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-09-22 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-09-23 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-09-24 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-09-25 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-09-26 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-09-27 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-09-28 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-09-29 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-09-30 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-10-01 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-10-02 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-10-03 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-10-04 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-10-05 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-10-06 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-10-07 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-10-08 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-10-09 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-10-10 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-10-11 00:00:00, dtype: float64

Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-10-12 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-10-13 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-10-14 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-10-15 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-10-16 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-10-17 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-10-18 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-10-19 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-10-20 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-10-21 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-10-22 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-10-23 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-10-24 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-10-25 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-10-26 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-10-27 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-10-28 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-10-29 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-10-30 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-10-31 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-11-01 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-11-02 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-11-03 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-11-04 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-11-05 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-11-06 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-11-07 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-11-08 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-11-09 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-11-10 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-11-11 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-11-12 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-11-13 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-11-14 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-11-15 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-11-16 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-11-17 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-11-18 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-11-19 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-11-20 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-11-21 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-11-22 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-11-23 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-11-24 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-11-25 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-11-26 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-11-27 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-11-28 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-11-29 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-11-30 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-12-01 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-12-02 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-12-03 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-12-04 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-12-05 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-12-06 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-12-07 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-12-08 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-12-09 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-12-10 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-12-11 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-12-12 00:00:00, dtype: float64

Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-12-13 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-12-14 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-12-15 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-12-16 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-12-17 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-12-18 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-12-19 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-12-20 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-12-21 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-12-22 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-12-23 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-12-24 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-12-25 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-12-26 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-12-27 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-12-28 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-12-29 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2012-12-30 00:00:00, dtype: float64
Current rainfall (mm)      NaN
Cumulative rainfall (mm)   NaN
Level (m)                  NaN
Name: 2012-12-31 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-01-01 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-01-02 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-01-03 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-01-04 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-01-05 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-01-06 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-01-07 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-01-08 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-01-09 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-01-10 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-01-11 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-01-12 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-01-13 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-01-14 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-01-15 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-01-16 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-01-17 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-01-18 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-01-19 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-01-20 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-01-21 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-01-22 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-01-23 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-01-24 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-01-25 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-01-26 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-01-27 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-01-28 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-01-29 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-01-30 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-01-31 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-02-01 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-02-02 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-02-03 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-02-04 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-02-05 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-02-06 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-02-07 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-02-08 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-02-09 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-02-10 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-02-11 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-02-12 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-02-13 00:00:00, dtype: float64

Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-02-14 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-02-15 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-02-16 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-02-17 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-02-18 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-02-19 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-02-20 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-02-21 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-02-22 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-02-23 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-02-24 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-02-25 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-02-26 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-02-27 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2013-02-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.400833
Name: 2013-03-01 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.385
Name: 2013-03-02 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.375
Name: 2013-03-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.370417
Name: 2013-03-04 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.3675
Name: 2013-03-05 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.364167
Name: 2013-03-06 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.36
Name: 2013-03-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.360417
Name: 2013-03-08 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.36
Name: 2013-03-09 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.355417
Name: 2013-03-10 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.35
Name: 2013-03-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.351667
Name: 2013-03-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.347917
Name: 2013-03-13 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.344583
Name: 2013-03-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.345
Name: 2013-03-15 00:00:00, dtype: float64
Current rainfall (mm)       0.416667
Cumulative rainfall (mm)    1.600000
Level (m)                   1.380833
Name: 2013-03-16 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    5.575000
Level (m)                   1.524167
Name: 2013-03-17 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.758333
Level (m)                   1.428333
Name: 2013-03-18 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.391667
Level (m)                   1.392083
Name: 2013-03-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.375833
Name: 2013-03-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.083333
Level (m)                   1.370000
Name: 2013-03-21 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0750
Level (m)                   1.3625
Name: 2013-03-22 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.35
Name: 2013-03-23 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.35
Name: 2013-03-24 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.349583
Name: 2013-03-25 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.347083
Name: 2013-03-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.342083
Name: 2013-03-27 00:00:00, dtype: float64
Current rainfall (mm)       0.583333
Cumulative rainfall (mm)    3.383333
Level (m)                   1.507500
Name: 2013-03-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.200000
Level (m)                   1.411667
Name: 2013-03-29 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.377083
Name: 2013-03-30 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.35
Level (m)                   1.37
Name: 2013-03-31 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.357917
Name: 2013-04-01 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.250000
Level (m)                   1.360833
Name: 2013-04-02 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.3000
Level (m)                   1.3575
Name: 2013-04-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.075
Level (m)                   1.350
Name: 2013-04-04 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.35
Name: 2013-04-05 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.35
Name: 2013-04-06 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.35
Name: 2013-04-07 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.34875
Name: 2013-04-08 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.35
Name: 2013-04-09 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.349583
Name: 2013-04-10 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.233333
Level (m)                   1.353750
Name: 2013-04-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.316667
Level (m)                   1.351667
Name: 2013-04-12 00:00:00, dtype: float64

Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.225000
Level (m)                   1.350417
Name: 2013-04-13 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.150000
Level (m)                   1.351667
Name: 2013-04-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.141667
Level (m)                   1.350833
Name: 2013-04-15 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.458333
Level (m)                   1.348750
Name: 2013-04-16 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.075
Level (m)                   1.350
Name: 2013-04-17 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.166667
Level (m)                   1.358333
Name: 2013-04-18 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.175000
Level (m)                   1.351667
Name: 2013-04-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.075
Level (m)                   1.345
Name: 2013-04-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.347083
Name: 2013-04-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.041667
Level (m)                   1.353750
Name: 2013-04-22 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.450000
Level (m)                   1.355833
Name: 2013-04-23 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.516667
Level (m)                   1.355833
Name: 2013-04-24 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.65
Level (m)                   1.35
Name: 2013-04-25 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.075
Level (m)                   1.350
Name: 2013-04-26 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.35
Name: 2013-04-27 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.344583
Name: 2013-04-28 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.34
Name: 2013-04-29 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.34
Name: 2013-04-30 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.500000
Level (m)                   1.351250
Name: 2013-05-01 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.733333
Level (m)                   1.356667
Name: 2013-05-02 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.365
Name: 2013-05-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.083333
Level (m)                   1.353750
Name: 2013-05-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.075
Level (m)                   1.350
Name: 2013-05-05 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.347083
Name: 2013-05-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.091667
Level (m)                   1.345417
Name: 2013-05-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.075
Level (m)                   1.340
Name: 2013-05-08 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.34
Name: 2013-05-09 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.342917
Name: 2013-05-10 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.34
Name: 2013-05-11 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.34
Name: 2013-05-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.033333
Level (m)                   1.346250
Name: 2013-05-13 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.34625
Name: 2013-05-14 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    0.391667
Level (m)                   1.352917
Name: 2013-05-15 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    1.941667
Level (m)                   1.376667
Name: 2013-05-16 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    1.016667
Level (m)                   1.360417
Name: 2013-05-17 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.1500
Level (m)                   1.3575
Name: 2013-05-18 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.15000
Level (m)                   1.35375
Name: 2013-05-19 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    1.700000
Level (m)                   1.367500
Name: 2013-05-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.291667
Level (m)                   1.367083
Name: 2013-05-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.366667
Name: 2013-05-22 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.354583
Name: 2013-05-23 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.35
Name: 2013-05-24 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.35
Name: 2013-05-25 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.35
Name: 2013-05-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.346667
Name: 2013-05-27 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.34125
Name: 2013-05-28 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.34
Name: 2013-05-29 00:00:00, dtype: float64
Current rainfall (mm)       0.333333
Cumulative rainfall (mm)    3.200000
Level (m)                   1.384167
Name: 2013-05-30 00:00:00, dtype: float64
Current rainfall (mm)       0.583333
Cumulative rainfall (mm)    4.516667
Level (m)                   1.444583
Name: 2013-05-31 00:00:00, dtype: float64
Current rainfall (mm)       0.916667
Cumulative rainfall (mm)    8.275000
Level (m)                   1.651250
Name: 2013-06-01 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.358333
Level (m)                   1.432083
Name: 2013-06-02 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.382917
Name: 2013-06-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.364167
Name: 2013-06-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.355
Name: 2013-06-05 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.35
Name: 2013-06-06 00:00:00, dtype: float64

Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    1.583333
Level (m)                   1.479167
Name: 2013-06-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.091667
Level (m)                   1.403750
Name: 2013-06-08 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.370833
Name: 2013-06-09 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.3575
Name: 2013-06-10 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.35
Name: 2013-06-11 00:00:00, dtype: float64
Current rainfall (mm)       0.416667
Cumulative rainfall (mm)    2.516667
Level (m)                   1.387083
Name: 2013-06-12 00:00:00, dtype: float64
Current rainfall (mm)       0.583333
Cumulative rainfall (mm)    8.408333
Level (m)                   1.592083
Name: 2013-06-13 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    5.358333
Level (m)                   1.540833
Name: 2013-06-14 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.1500
Level (m)                   1.4125
Name: 2013-06-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.083333
Level (m)                   1.377083
Name: 2013-06-16 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    0.375000
Level (m)                   1.373750
Name: 2013-06-17 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.841667
Level (m)                   1.384167
Name: 2013-06-18 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.386667
Name: 2013-06-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.365417
Name: 2013-06-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.354167
Name: 2013-06-21 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.000000
Level (m)                   1.350000
Name: 2013-06-22 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.347083
Name: 2013-06-23 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.34
Name: 2013-06-24 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.342083
Name: 2013-06-25 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.34
Name: 2013-06-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.066667
Level (m)                   1.340000
Name: 2013-06-27 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.34
Name: 2013-06-28 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.34
Name: 2013-06-29 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.34
Name: 2013-06-30 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.091667
Level (m)                   1.341667
Name: 2013-07-01 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.15
Level (m)                   1.34
Name: 2013-07-02 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.34
Name: 2013-07-03 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.34
Name: 2013-07-04 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.34
Name: 2013-07-05 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.508333
Level (m)                   1.346250
Name: 2013-07-06 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    1.516667
Level (m)                   1.362083
Name: 2013-07-07 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    1.72500
Level (m)                   1.39125
Name: 2013-07-08 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.375417
Name: 2013-07-09 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.356667
Name: 2013-07-10 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.347917
Name: 2013-07-11 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.34
Name: 2013-07-12 00:00:00, dtype: float64
Current rainfall (mm)       0.583333
Cumulative rainfall (mm)    2.450000
Level (m)                   1.385000
Name: 2013-07-13 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    5.916667
Level (m)                   1.526250
Name: 2013-07-14 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    1.283333
Level (m)                   1.447500
Name: 2013-07-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.100000
Level (m)                   1.389583
Name: 2013-07-16 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.075
Level (m)                   1.365
Name: 2013-07-17 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    1.216667
Level (m)                   1.376667
Name: 2013-07-18 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    2.758333
Level (m)                   1.431667
Name: 2013-07-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    3.775
Level (m)                   1.490
Name: 2013-07-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.750000
Level (m)                   1.417083
Name: 2013-07-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.033333
Level (m)                   1.377917
Name: 2013-07-22 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.375000
Level (m)                   1.372917
Name: 2013-07-23 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.361667
Name: 2013-07-24 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.10000
Level (m)                   1.35625
Name: 2013-07-25 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.133333
Level (m)                   1.350000
Name: 2013-07-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.075
Level (m)                   1.350
Name: 2013-07-27 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    0.316667
Level (m)                   1.357083
Name: 2013-07-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.200000
Level (m)                   1.375833
Name: 2013-07-29 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.374167
Name: 2013-07-30 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.36
Name: 2013-07-31 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.355417
Name: 2013-08-01 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.766667
Level (m)                   1.358333
Name: 2013-08-02 00:00:00, dtype: float64
Current rainfall (mm)       0.416667
Cumulative rainfall (mm)    2.716667
Level (m)                   1.392500
Name: 2013-08-03 00:00:00, dtype: float64

Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    3.591667
Level (m)                   1.452083
Name: 2013-08-04 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.52500
Level (m)                   1.38875
Name: 2013-08-05 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    1.208333
Level (m)                   1.422083
Name: 2013-08-06 00:00:00, dtype: float64
Current rainfall (mm)       0.583333
Cumulative rainfall (mm)    3.141667
Level (m)                   1.458333
Name: 2013-08-07 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    4.441667
Level (m)                   1.490833
Name: 2013-08-08 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    1.075000
Level (m)                   1.491667
Name: 2013-08-09 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.417917
Name: 2013-08-10 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.378333
Name: 2013-08-11 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    0.400000
Level (m)                   1.365833
Name: 2013-08-12 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    1.05000
Level (m)                   1.38375
Name: 2013-08-13 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.378333
Name: 2013-08-14 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.175000
Level (m)                   1.362500
Name: 2013-08-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.359583
Name: 2013-08-16 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.355
Name: 2013-08-17 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.108333
Level (m)                   1.349583
Name: 2013-08-18 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0750
Level (m)                   1.3575
Name: 2013-08-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.108333
Level (m)                   1.355000
Name: 2013-08-20 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.104167
Level (m)                   1.237500
Name: 2013-08-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.125000
Level (m)                   1.352083
Name: 2013-08-22 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.30
Level (m)                   1.35
Name: 2013-08-23 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.344167
Name: 2013-08-24 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.34
Name: 2013-08-25 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.34
Name: 2013-08-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.344167
Name: 2013-08-27 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.345417
Name: 2013-08-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    2.916667
Level (m)                   1.352083
Name: 2013-08-29 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.300000
Level (m)                   1.370833
Name: 2013-08-30 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.364167
Name: 2013-08-31 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.352083
Name: 2013-09-01 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.344583
Name: 2013-09-02 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.342083
Name: 2013-09-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.341667
Name: 2013-09-04 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.775000
Level (m)                   1.351250
Name: 2013-09-05 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.750000
Level (m)                   1.350833
Name: 2013-09-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.100000
Level (m)                   1.346667
Name: 2013-09-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.175000
Level (m)                   1.342083
Name: 2013-09-08 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.348333
Name: 2013-09-09 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.37125
Name: 2013-09-10 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.37
Name: 2013-09-11 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.633333
Level (m)                   1.391667
Name: 2013-09-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.225000
Level (m)                   1.380417
Name: 2013-09-13 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.108333
Level (m)                   1.380000
Name: 2013-09-14 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0750
Level (m)                   1.3725
Name: 2013-09-15 00:00:00, dtype: float64
Current rainfall (mm)       1.333333
Cumulative rainfall (mm)    4.708333
Level (m)                   1.465833
Name: 2013-09-16 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    8.716667
Level (m)                   1.550417
Name: 2013-09-17 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    0.591667
Level (m)                   1.427917
Name: 2013-09-18 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    1.35000
Level (m)                   1.42375
Name: 2013-09-19 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.575000
Level (m)                   1.403333
Name: 2013-09-20 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.70000
Level (m)                   1.38375
Name: 2013-09-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.374583
Name: 2013-09-22 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.37
Name: 2013-09-23 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.369583
Name: 2013-09-24 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.050000
Level (m)                   1.372083
Name: 2013-09-25 00:00:00, dtype: float64
Current rainfall (mm)       1.000000
Cumulative rainfall (mm)    6.575000
Level (m)                   1.610833
Name: 2013-09-26 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    0.541667
Level (m)                   1.442083
Name: 2013-09-27 00:00:00, dtype: float64

Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.916667
Level (m)                   1.430000
Name: 2013-09-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.183333
Level (m)                   1.405833
Name: 2013-09-29 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.091667
Level (m)                   1.384583
Name: 2013-09-30 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.691667
Level (m)                   1.394583
Name: 2013-10-01 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    0.916667
Level (m)                   1.395833
Name: 2013-10-02 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.766667
Level (m)                   1.398333
Name: 2013-10-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.384167
Name: 2013-10-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.373333
Name: 2013-10-05 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.452174
Level (m)                   1.379130
Name: 2013-10-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.091667
Level (m)                   1.385833
Name: 2013-10-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.166667
Level (m)                   1.387917
Name: 2013-10-08 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.375417
Name: 2013-10-09 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.683333
Level (m)                   1.380000
Name: 2013-10-10 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.600000
Level (m)                   1.379167
Name: 2013-10-11 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.37625
Name: 2013-10-12 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    0.841667
Level (m)                   1.380417
Name: 2013-10-13 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    3.075000
Level (m)                   1.420417
Name: 2013-10-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    2.550000
Level (m)                   1.445833
Name: 2013-10-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.390833
Name: 2013-10-16 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.541667
Level (m)                   1.383750
Name: 2013-10-17 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.491667
Level (m)                   1.367083
Name: 2013-10-18 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.07500
Level (m)                   1.36125
Name: 2013-10-19 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.36
Name: 2013-10-20 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.300000
Level (m)                   1.364583
Name: 2013-10-21 00:00:00, dtype: float64
Current rainfall (mm)       0.416667
Cumulative rainfall (mm)    2.683333
Level (m)                   1.409167
Name: 2013-10-22 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    4.700000
Level (m)                   1.525417
Name: 2013-10-23 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.4000
Level (m)                   1.4225
Name: 2013-10-24 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.370417
Name: 2013-10-25 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.35375
Name: 2013-10-26 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.35
Name: 2013-10-27 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.708333
Level (m)                   1.355833
Name: 2013-10-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.958333
Level (m)                   1.358333
Name: 2013-10-29 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.15
Level (m)                   1.35
Name: 2013-10-30 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.083333
Level (m)                   1.347500
Name: 2013-10-31 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.344583
Name: 2013-11-01 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.34
Name: 2013-11-02 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.033333
Level (m)                   1.354583
Name: 2013-11-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    1.025
Level (m)                   1.355
Name: 2013-11-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.355417
Name: 2013-11-05 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.34375
Name: 2013-11-06 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.34
Name: 2013-11-07 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    0.983333
Level (m)                   1.352500
Name: 2013-11-08 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    2.02500
Level (m)                   1.36375
Name: 2013-11-09 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    1.266667
Level (m)                   1.377083
Name: 2013-11-10 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.241667
Level (m)                   1.370833
Name: 2013-11-11 00:00:00, dtype: float64
Current rainfall (mm)       0.333333
Cumulative rainfall (mm)    2.691667
Level (m)                   1.398333
Name: 2013-11-12 00:00:00, dtype: float64
Current rainfall (mm)       0.833333
Cumulative rainfall (mm)    8.216667
Level (m)                   1.642083
Name: 2013-11-13 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.875000
Level (m)                   1.449167
Name: 2013-11-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.378333
Name: 2013-11-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.355417
Name: 2013-11-16 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.345417
Name: 2013-11-17 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.339167
Name: 2013-11-18 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.335417
Name: 2013-11-19 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.33
Name: 2013-11-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.091667
Level (m)                   1.330417
Name: 2013-11-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.332083
Name: 2013-11-22 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    3.291667
Level (m)                   1.387500
Name: 2013-11-23 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    3.366667
Level (m)                   1.423750
Name: 2013-11-24 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.372917
Name: 2013-11-25 00:00:00, dtype: float64

Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.351667
Name: 2013-11-26 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   0.78125
Name: 2013-11-27 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.066667
Level (m)                   1.355833
Name: 2013-11-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.358333
Level (m)                   1.367500
Name: 2013-11-29 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.357917
Name: 2013-11-30 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.343333
Name: 2013-12-01 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.335417
Name: 2013-12-02 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.016667
Level (m)                   1.337083
Name: 2013-12-03 00:00:00, dtype: float64
Current rainfall (mm)       0.666667
Cumulative rainfall (mm)    5.175000
Level (m)                   1.478750
Name: 2013-12-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    3.841667
Level (m)                   1.444583
Name: 2013-12-05 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.816667
Level (m)                   1.436250
Name: 2013-12-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.372917
Name: 2013-12-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.353333
Name: 2013-12-08 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    5.041667
Level (m)                   1.459583
Name: 2013-12-09 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    4.833333
Level (m)                   1.455000
Name: 2013-12-10 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.85000
Level (m)                   1.28625
Name: 2013-12-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.600000
Level (m)                   1.399583
Name: 2013-12-12 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.37125
Name: 2013-12-13 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.355417
Name: 2013-12-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.350417
Name: 2013-12-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.349583
Name: 2013-12-16 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.346667
Name: 2013-12-17 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.34
Name: 2013-12-18 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.33625
Name: 2013-12-19 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.33625
Name: 2013-12-20 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.33
Name: 2013-12-21 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.33
Name: 2013-12-22 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.33
Name: 2013-12-23 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.332917
Name: 2013-12-24 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.33125
Name: 2013-12-25 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.083333
Level (m)                   1.331667
Name: 2013-12-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.333333
Name: 2013-12-27 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.33
Name: 2013-12-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.328333
Name: 2013-12-29 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.32875
Name: 2013-12-30 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.33
Name: 2013-12-31 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.658333
Level (m)                   1.340000
Name: 2014-01-01 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.750000
Level (m)                   1.331667
Name: 2014-01-02 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.3325
Name: 2014-01-03 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.33
Name: 2014-01-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.041667
Level (m)                   1.330417
Name: 2014-01-05 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.325833
Name: 2014-01-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.322083
Name: 2014-01-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.324583
Name: 2014-01-08 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.325417
Name: 2014-01-09 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.3225
Name: 2014-01-10 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.323333
Name: 2014-01-11 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.32
Name: 2014-01-12 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.32
Name: 2014-01-13 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.31625
Name: 2014-01-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.058333
Level (m)                   1.317083
Name: 2014-01-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.316667
Name: 2014-01-16 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.3225
Name: 2014-01-17 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.32
Name: 2014-01-18 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.317083
Name: 2014-01-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.314583
Name: 2014-01-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.315833
Name: 2014-01-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.312917
Name: 2014-01-22 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.312083
Name: 2014-01-23 00:00:00, dtype: float64

Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    2.116667
Level (m)                   1.346250
Name: 2014-01-24 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    1.4250
Level (m)                   1.3375
Name: 2014-01-25 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.329583
Name: 2014-01-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.325833
Name: 2014-01-27 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.320833
Name: 2014-01-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.318333
Name: 2014-01-29 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.31
Name: 2014-01-30 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.312083
Name: 2014-01-31 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.310417
Name: 2014-02-01 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.31
Name: 2014-02-02 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.041667
Level (m)                   0.984583
Name: 2014-02-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.183333
Level (m)                   1.312917
Name: 2014-02-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.302083
Name: 2014-02-05 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.302083
Name: 2014-02-06 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.3075
Name: 2014-02-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.306667
Name: 2014-02-08 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.305833
Name: 2014-02-09 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.302083
Name: 2014-02-10 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.306667
Name: 2014-02-11 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.30625
Name: 2014-02-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.309167
Name: 2014-02-13 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.318333
Name: 2014-02-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.320417
Name: 2014-02-15 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    0.383333
Level (m)                   1.330000
Name: 2014-02-16 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0750
Level (m)                   1.3225
Name: 2014-02-17 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.3225
Name: 2014-02-18 00:00:00, dtype: float64
Current rainfall (mm)       0.750000
Cumulative rainfall (mm)    4.241667
Level (m)                   1.379583
Name: 2014-02-19 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    7.3500
Level (m)                   1.4775
Name: 2014-02-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.395417
Name: 2014-02-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.366667
Name: 2014-02-22 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.352083
Name: 2014-02-23 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.345
Name: 2014-02-24 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.3425
Name: 2014-02-25 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.340417
Name: 2014-02-26 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.33625
Name: 2014-02-27 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.335833
Name: 2014-02-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.337083
Name: 2014-03-01 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.33625
Name: 2014-03-02 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.334583
Name: 2014-03-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.334167
Name: 2014-03-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.335
Name: 2014-03-05 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.335
Name: 2014-03-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.335
Name: 2014-03-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.335833
Name: 2014-03-08 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.335417
Name: 2014-03-09 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.33
Name: 2014-03-10 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.891667
Level (m)                   1.353333
Name: 2014-03-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.575000
Level (m)                   1.350417
Name: 2014-03-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.348333
Name: 2014-03-13 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.344583
Name: 2014-03-14 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    3.341667
Level (m)                   1.411250
Name: 2014-03-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    5.850000
Level (m)                   1.492917
Name: 2014-03-16 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.40625
Name: 2014-03-17 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.371667
Name: 2014-03-18 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.356667
Name: 2014-03-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.355
Name: 2014-03-20 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.35
Name: 2014-03-21 00:00:00, dtype: float64

Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.35
Name: 2014-03-22 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.35
Name: 2014-03-23 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.35
Name: 2014-03-24 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.35
Name: 2014-03-25 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.35
Name: 2014-03-26 00:00:00, dtype: float64
Current rainfall (mm)       0.333333
Cumulative rainfall (mm)    3.416667
Level (m)                   1.448333
Name: 2014-03-27 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    2.25000
Level (m)                   1.46625
Name: 2014-03-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.399167
Name: 2014-03-29 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.533333
Level (m)                   1.381667
Name: 2014-03-30 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.365417
Name: 2014-03-31 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.357083
Name: 2014-04-01 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.35
Name: 2014-04-02 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.35
Name: 2014-04-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.355
Name: 2014-04-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.355833
Name: 2014-04-05 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.35
Name: 2014-04-06 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.35
Name: 2014-04-07 00:00:00, dtype: float64
Current rainfall (mm)       0.500000
Cumulative rainfall (mm)    4.825000
Level (m)                   1.441667
Name: 2014-04-08 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    8.141667
Level (m)                   1.570417
Name: 2014-04-09 00:00:00, dtype: float64
Current rainfall (mm)       0.916667
Cumulative rainfall (mm)    5.500000
Level (m)                   1.588333
Name: 2014-04-10 00:00:00, dtype: float64
Current rainfall (mm)       0.333333
Cumulative rainfall (mm)    3.700000
Level (m)                   1.547083
Name: 2014-04-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.125000
Level (m)                   1.485833
Name: 2014-04-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.415833
Name: 2014-04-13 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.384583
Name: 2014-04-14 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.37125
Name: 2014-04-15 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.37
Name: 2014-04-16 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.366667
Name: 2014-04-17 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.308333
Level (m)                   1.368750
Name: 2014-04-18 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.225
Level (m)                   1.370
Name: 2014-04-19 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.37
Name: 2014-04-20 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.37
Name: 2014-04-21 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    1.225000
Level (m)                   1.454583
Name: 2014-04-22 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.97500
Level (m)                   1.46375
Name: 2014-04-23 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.008333
Level (m)                   1.406667
Name: 2014-04-24 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.384583
Name: 2014-04-25 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.377083
Name: 2014-04-26 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.37
Name: 2014-04-27 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.37
Name: 2014-04-28 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    2.358333
Level (m)                   1.413333
Name: 2014-04-29 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    3.666667
Level (m)                   1.527917
Name: 2014-04-30 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.175
Level (m)                   1.440
Name: 2014-05-01 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    0.641667
Level (m)                   1.407917
Name: 2014-05-02 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.225000
Level (m)                   1.400833
Name: 2014-05-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.291667
Level (m)                   1.402500
Name: 2014-05-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.475000
Level (m)                   1.400833
Name: 2014-05-05 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.316667
Level (m)                   0.639583
Name: 2014-05-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.200000
Level (m)                   0.862917
Name: 2014-05-07 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.38
Name: 2014-05-08 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.008333
Level (m)                   1.380000
Name: 2014-05-09 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    1.100000
Level (m)                   1.455417
Name: 2014-05-10 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.166667
Level (m)                   1.442917
Name: 2014-05-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.402917
Name: 2014-05-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.385
Name: 2014-05-13 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.38
Name: 2014-05-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.378333
Name: 2014-05-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.375417
Name: 2014-05-16 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.37
Name: 2014-05-17 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.37
Name: 2014-05-18 00:00:00, dtype: float64

Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.369583
Name: 2014-05-19 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.37
Name: 2014-05-20 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.37
Name: 2014-05-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.025
Level (m)                   1.370
Name: 2014-05-22 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    0.866667
Level (m)                   1.415417
Name: 2014-05-23 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.100000
Level (m)                   1.398333
Name: 2014-05-24 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.075
Level (m)                   1.395
Name: 2014-05-25 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.39
Name: 2014-05-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.382083
Name: 2014-05-27 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.385417
Name: 2014-05-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.407083
Name: 2014-05-29 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.066667
Level (m)                   1.400000
Name: 2014-05-30 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.075
Level (m)                   1.400
Name: 2014-05-31 00:00:00, dtype: float64
Current rainfall (mm)       0.500000
Cumulative rainfall (mm)    2.041667
Level (m)                   1.477917
Name: 2014-06-01 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.758333
Level (m)                   1.459583
Name: 2014-06-02 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.458333
Level (m)                   1.450417
Name: 2014-06-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.891667
Level (m)                   1.443333
Name: 2014-06-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.575000
Level (m)                   1.480417
Name: 2014-06-05 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.4275
Name: 2014-06-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.375
Level (m)                   1.415
Name: 2014-06-07 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.37500
Level (m)                   1.40625
Name: 2014-06-08 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2014-06-09 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.397917
Name: 2014-06-10 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.403333
Name: 2014-06-11 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.050000
Level (m)                   1.400000
Name: 2014-06-12 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    2.391667
Level (m)                   1.533333
Name: 2014-06-13 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    4.566667
Level (m)                   1.537500
Name: 2014-06-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    5.325000
Level (m)                   1.511667
Name: 2014-06-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.441667
Level (m)                   1.454583
Name: 2014-06-16 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.4500
Level (m)                   1.4575
Name: 2014-06-17 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.418333
Name: 2014-06-18 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.422083
Name: 2014-06-19 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.40875
Name: 2014-06-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.075
Level (m)                   1.400
Name: 2014-06-21 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2014-06-22 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.266667
Level (m)                   1.405000
Name: 2014-06-23 00:00:00, dtype: float64
Current rainfall (mm)       0.333333
Cumulative rainfall (mm)    1.283333
Level (m)                   1.460833
Name: 2014-06-24 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    1.091667
Level (m)                   1.498750
Name: 2014-06-25 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.150000
Level (m)                   1.449583
Name: 2014-06-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.091667
Level (m)                   1.416667
Name: 2014-06-27 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.409583
Name: 2014-06-28 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    2.425000
Level (m)                   1.464167
Name: 2014-06-29 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    2.258333
Level (m)                   1.493750
Name: 2014-06-30 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.225000
Level (m)                   1.436667
Name: 2014-07-01 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.412917
Name: 2014-07-02 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.402917
Name: 2014-07-03 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2014-07-04 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2014-07-05 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2014-07-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.399167
Name: 2014-07-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.341667
Name: 2014-07-08 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    1.541667
Level (m)                   1.427500
Name: 2014-07-09 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.958333
Level (m)                   1.446250
Name: 2014-07-10 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.166667
Level (m)                   1.427917
Name: 2014-07-11 00:00:00, dtype: float64
Current rainfall (mm)       0.416667
Cumulative rainfall (mm)    1.841667
Level (m)                   1.487500
Name: 2014-07-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.600000
Level (m)                   1.465833
Name: 2014-07-13 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.083333
Level (m)                   1.427500
Name: 2014-07-14 00:00:00, dtype: float64

Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.415
Name: 2014-07-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.400000
Level (m)                   1.421667
Name: 2014-07-16 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    0.425000
Level (m)                   1.420000
Name: 2014-07-17 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    1.55
Level (m)                   1.45
Name: 2014-07-18 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.391667
Level (m)                   1.450417
Name: 2014-07-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.432083
Name: 2014-07-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.083333
Level (m)                   1.422083
Name: 2014-07-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.415833
Name: 2014-07-22 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.41
Name: 2014-07-23 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.41
Name: 2014-07-24 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.41
Name: 2014-07-25 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.41
Name: 2014-07-26 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.41
Name: 2014-07-27 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.405417
Name: 2014-07-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   0.995
Name: 2014-07-29 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2014-07-30 00:00:00, dtype: float64
Current rainfall (mm)       0.416667
Cumulative rainfall (mm)    1.750000
Level (m)                   1.437917
Name: 2014-07-31 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    3.033333
Level (m)                   1.446667
Name: 2014-08-01 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    2.27500
Level (m)                   1.52125
Name: 2014-08-02 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.457083
Name: 2014-08-03 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.4175
Name: 2014-08-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.414583
Name: 2014-08-05 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.250000
Level (m)                   1.415833
Name: 2014-08-06 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    1.283333
Level (m)                   1.437917
Name: 2014-08-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.825000
Level (m)                   1.439583
Name: 2014-08-08 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.424583
Name: 2014-08-09 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    0.275000
Level (m)                   1.428333
Name: 2014-08-10 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.850000
Level (m)                   1.464583
Name: 2014-08-11 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    0.566667
Level (m)                   1.473333
Name: 2014-08-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.375000
Level (m)                   1.458333
Name: 2014-08-13 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.083333
Level (m)                   1.434583
Name: 2014-08-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.414167
Name: 2014-08-15 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.42
Name: 2014-08-16 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.41
Name: 2014-08-17 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    1.225000
Level (m)                   1.440000
Name: 2014-08-18 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.225000
Level (m)                   1.469167
Name: 2014-08-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.441667
Name: 2014-08-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.421667
Name: 2014-08-21 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.40375
Name: 2014-08-22 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.405
Name: 2014-08-23 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.558333
Level (m)                   1.432917
Name: 2014-08-24 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.066667
Level (m)                   1.430000
Name: 2014-08-25 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.422083
Name: 2014-08-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.008333
Level (m)                   1.414583
Name: 2014-08-27 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.409583
Name: 2014-08-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.016667
Level (m)                   1.408750
Name: 2014-08-29 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.406667
Name: 2014-08-30 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.400833
Name: 2014-08-31 00:00:00, dtype: float64
Current rainfall (mm)       0.333333
Cumulative rainfall (mm)    2.558333
Level (m)                   1.449167
Name: 2014-09-01 00:00:00, dtype: float64
Current rainfall (mm)       0.333333
Cumulative rainfall (mm)    3.216667
Level (m)                   1.537500
Name: 2014-09-02 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.2250
Level (m)                   1.4775
Name: 2014-09-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.432083
Name: 2014-09-04 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.41375
Name: 2014-09-05 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.40625
Name: 2014-09-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.398333
Name: 2014-09-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.395417
Name: 2014-09-08 00:00:00, dtype: float64

Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.39
Name: 2014-09-09 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.3925
Name: 2014-09-10 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.408333
Level (m)                   1.435417
Name: 2014-09-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.445833
Name: 2014-09-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.422917
Name: 2014-09-13 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.410833
Name: 2014-09-14 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.41
Name: 2014-09-15 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.241667
Level (m)                   1.412917
Name: 2014-09-16 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.383333
Level (m)                   1.417083
Name: 2014-09-17 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.675000
Level (m)                   1.425833
Name: 2014-09-18 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.525000
Level (m)                   1.417083
Name: 2014-09-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.225000
Level (m)                   1.410417
Name: 2014-09-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.150000
Level (m)                   1.406667
Name: 2014-09-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.397083
Name: 2014-09-22 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.394583
Name: 2014-09-23 00:00:00, dtype: float64
Current rainfall (mm)       0.416667
Cumulative rainfall (mm)    0.858333
Level (m)                   1.412500
Name: 2014-09-24 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    3.858333
Level (m)                   1.564167
Name: 2014-09-25 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.475
Name: 2014-09-26 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.43
Name: 2014-09-27 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.409583
Name: 2014-09-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.402917
Name: 2014-09-29 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.400000
Level (m)                   1.410417
Name: 2014-09-30 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.666667
Level (m)                   1.410417
Name: 2014-10-01 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.15000
Level (m)                   1.40375
Name: 2014-10-02 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.400833
Name: 2014-10-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.402083
Name: 2014-10-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.400435
Name: 2014-10-05 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.016667
Level (m)                   1.400417
Name: 2014-10-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.250000
Level (m)                   1.412083
Name: 2014-10-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.409583
Name: 2014-10-08 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.407083
Name: 2014-10-09 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2014-10-10 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2014-10-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.399583
Name: 2014-10-12 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    0.800000
Level (m)                   1.435000
Name: 2014-10-13 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    2.825000
Level (m)                   1.572917
Name: 2014-10-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.225000
Level (m)                   1.504583
Name: 2014-10-15 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.45
Name: 2014-10-16 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.42375
Name: 2014-10-17 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.412917
Name: 2014-10-18 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.404583
Name: 2014-10-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.399167
Name: 2014-10-20 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.3975
Name: 2014-10-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.390417
Name: 2014-10-22 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.39
Name: 2014-10-23 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.39
Name: 2014-10-24 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.39
Name: 2014-10-25 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.39
Name: 2014-10-26 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    1.150000
Level (m)                   1.561667
Name: 2014-10-27 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.511667
Name: 2014-10-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.449167
Name: 2014-10-29 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.423333
Name: 2014-10-30 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.410833
Name: 2014-10-31 00:00:00, dtype: float64
Current rainfall (mm)       0.333333
Cumulative rainfall (mm)    0.916667
Level (m)                   1.527500
Name: 2014-11-01 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.496667
Name: 2014-11-02 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.438333

Name: 2014-11-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.416667
Name: 2014-11-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.407083
Name: 2014-11-05 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2014-11-06 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.3975
Name: 2014-11-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.008333
Level (m)                   1.385417
Name: 2014-11-08 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.07500
Level (m)                   1.38875
Name: 2014-11-09 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.38
Name: 2014-11-10 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.380833
Name: 2014-11-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.380833
Name: 2014-11-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.380417
Name: 2014-11-13 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.386667
Name: 2014-11-14 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    1.083333
Level (m)                   1.417917
Name: 2014-11-15 00:00:00, dtype: float64
Current rainfall (mm)       0.750000
Cumulative rainfall (mm)    8.800000
Level (m)                   1.694583
Name: 2014-11-16 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.51875
Name: 2014-11-17 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.459167
Name: 2014-11-18 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.429583
Name: 2014-11-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.033333
Level (m)                   1.413333
Name: 2014-11-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.407083
Name: 2014-11-21 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.40125
Name: 2014-11-22 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.395
Name: 2014-11-23 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    4.508333
Level (m)                   1.478750
Name: 2014-11-24 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    3.62500
Level (m)                   1.52625
Name: 2014-11-25 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.459583
Name: 2014-11-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.425833
Name: 2014-11-27 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.409583
Name: 2014-11-28 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2014-11-29 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.39875
Name: 2014-11-30 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.108333
Level (m)                   1.395833
Name: 2014-12-01 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.390417
Name: 2014-12-02 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    0.591667
Level (m)                   1.396250
Name: 2014-12-03 00:00:00, dtype: float64
Current rainfall (mm)       0.583333
Cumulative rainfall (mm)    5.250000
Level (m)                   1.582083
Name: 2014-12-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.486667
Name: 2014-12-05 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    0.658333
Level (m)                   1.481667
Name: 2014-12-06 00:00:00, dtype: float64
Current rainfall (mm)       0.500000
Cumulative rainfall (mm)    2.741667
Level (m)                   1.604583
Name: 2014-12-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.775000
Level (m)                   1.521667
Name: 2014-12-08 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.45625
Name: 2014-12-09 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.425
Name: 2014-12-10 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.058333
Level (m)                   1.414583
Name: 2014-12-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.404583
Name: 2014-12-12 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.3925
Name: 2014-12-13 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.38375
Name: 2014-12-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.379167
Name: 2014-12-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.383333
Name: 2014-12-16 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.376667
Name: 2014-12-17 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.633333
Level (m)                   1.390000
Name: 2014-12-18 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    1.0500
Level (m)                   1.4175
Name: 2014-12-19 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.39625
Name: 2014-12-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.386667
Name: 2014-12-21 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.37875
Name: 2014-12-22 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.450000
Level (m)                   1.417083
Name: 2014-12-23 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.396667
Name: 2014-12-24 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    0.025000
Level (m)                   1.386667
Name: 2014-12-25 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.600000
Level (m)                   1.416667
Name: 2014-12-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.394583
Name: 2014-12-27 00:00:00, dtype: float64

Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.38375
Name: 2014-12-28 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.541667
Level (m)                   1.395833
Name: 2014-12-29 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.525000
Level (m)                   1.404167
Name: 2014-12-30 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.388333
Name: 2014-12-31 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.3824
Name: 2015-01-01 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.38375
Name: 2015-01-02 00:00:00, dtype: float64
Current rainfall (mm)       0.416667
Cumulative rainfall (mm)    0.308333
Level (m)                   1.385833
Name: 2015-01-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    2.000000
Level (m)                   1.452083
Name: 2015-01-04 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.43875
Name: 2015-01-05 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.412083
Name: 2015-01-06 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.39625
Name: 2015-01-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    2.641667
Level (m)                   1.494583
Name: 2015-01-08 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    2.816667
Level (m)                   1.535000
Name: 2015-01-09 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    4.0500
Level (m)                   1.5725
Name: 2015-01-10 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.07500
Level (m)                   1.48625
Name: 2015-01-11 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.44
Name: 2015-01-12 00:00:00, dtype: float64
Current rainfall (mm)       0.833333
Cumulative rainfall (mm)    9.733333
Level (m)                   1.604583
Name: 2015-01-13 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    7.383333
Level (m)                   1.547917
Name: 2015-01-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.485833
Name: 2015-01-15 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.44375
Name: 2015-01-16 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.4225
Name: 2015-01-17 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.406667
Name: 2015-01-18 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.400833
Name: 2015-01-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.400833
Name: 2015-01-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.395833
Name: 2015-01-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.387083
Name: 2015-01-22 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.387917
Name: 2015-01-23 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.385417
Name: 2015-01-24 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.389167
Name: 2015-01-25 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.385833
Name: 2015-01-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.384167
Name: 2015-01-27 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.38
Name: 2015-01-28 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.38
Name: 2015-01-29 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.380833
Name: 2015-01-30 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.38
Name: 2015-01-31 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.566667
Level (m)                   1.404167
Name: 2015-02-01 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.550000
Level (m)                   1.408750
Name: 2015-02-02 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.405417
Name: 2015-02-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.116667
Level (m)                   1.403750
Name: 2015-02-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.394167
Name: 2015-02-05 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.392917
Name: 2015-02-06 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.38375
Name: 2015-02-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.385
Name: 2015-02-08 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.384167
Name: 2015-02-09 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.3875
Name: 2015-02-10 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.387917
Name: 2015-02-11 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.38375
Name: 2015-02-12 00:00:00, dtype: float64
Current rainfall (mm)       0.416667
Cumulative rainfall (mm)    1.475000
Level (m)                   1.415417
Name: 2015-02-13 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    3.758333
Level (m)                   1.513750
Name: 2015-02-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.492917
Name: 2015-02-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.445833
Name: 2015-02-16 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.43
Name: 2015-02-17 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.42625
Name: 2015-02-18 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.418333
Name: 2015-02-19 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.41375
Name: 2015-02-20 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.41
Name: 2015-02-21 00:00:00, dtype: float64

Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    1.316667
Level (m)                   1.437500
Name: 2015-02-22 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    4.641667
Level (m)                   1.518333
Name: 2015-02-23 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    2.40000
Level (m)                   1.51875
Name: 2015-02-24 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.465417
Name: 2015-02-25 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.44
Name: 2015-02-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.427917
Name: 2015-02-27 00:00:00, dtype: float64
Current rainfall (mm)       0.583333
Cumulative rainfall (mm)    0.925000
Level (m)                   1.443333
Name: 2015-02-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    5.116667
Level (m)                   1.605417
Name: 2015-03-01 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.501667
Name: 2015-03-02 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.459583
Name: 2015-03-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.437917
Name: 2015-03-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.427917
Name: 2015-03-05 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.429583
Name: 2015-03-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.425833
Name: 2015-03-07 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.42375
Name: 2015-03-08 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.424583
Name: 2015-03-09 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.420833
Name: 2015-03-10 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.4175
Name: 2015-03-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.419583
Name: 2015-03-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.419583
Name: 2015-03-13 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.415833
Name: 2015-03-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.525000
Level (m)                   1.430833
Name: 2015-03-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.421667
Name: 2015-03-16 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.42
Name: 2015-03-17 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.191667
Level (m)                   1.428333
Name: 2015-03-18 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.423333
Name: 2015-03-19 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.41875
Name: 2015-03-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.410417
Name: 2015-03-21 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.41
Name: 2015-03-22 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.416667
Name: 2015-03-23 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.233333
Level (m)                   1.431667
Name: 2015-03-24 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.422917
Name: 2015-03-25 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.417083
Name: 2015-03-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.415833
Name: 2015-03-27 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.412917
Name: 2015-03-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.415417
Name: 2015-03-29 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.410417
Name: 2015-03-30 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.41375
Name: 2015-03-31 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.41
Name: 2015-04-01 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.41
Name: 2015-04-02 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.41125
Name: 2015-04-03 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.41
Name: 2015-04-04 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.41125
Name: 2015-04-05 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.419583
Name: 2015-04-06 00:00:00, dtype: float64
Current rainfall (mm)       0.916667
Cumulative rainfall (mm)    4.808333
Level (m)                   1.503333
Name: 2015-04-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    4.775
Level (m)                   1.520
Name: 2015-04-08 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.07500
Level (m)                   1.46625
Name: 2015-04-09 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.443333
Name: 2015-04-10 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.434583
Name: 2015-04-11 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.43
Name: 2015-04-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.426667
Name: 2015-04-13 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.233333
Level (m)                   1.438750
Name: 2015-04-14 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.541667
Level (m)                   1.496250
Name: 2015-04-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.475833
Name: 2015-04-16 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.391667
Level (m)                   1.453333
Name: 2015-04-17 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    1.158333
Level (m)                   1.466250
Name: 2015-04-18 00:00:00, dtype: float64

Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.566667
Level (m)                   1.527500
Name: 2015-04-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.675000
Level (m)                   1.489167
Name: 2015-04-20 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.45375
Name: 2015-04-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.440417
Name: 2015-04-22 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.44
Name: 2015-04-23 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.166667
Level (m)                   1.440417
Name: 2015-04-24 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    2.525000
Level (m)                   1.509583
Name: 2015-04-25 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.500000
Level (m)                   1.516667
Name: 2015-04-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.100000
Level (m)                   1.466667
Name: 2015-04-27 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.446667
Name: 2015-04-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.008333
Level (m)                   1.438750
Name: 2015-04-29 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.434167
Name: 2015-04-30 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.429167
Name: 2015-05-01 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.429167
Name: 2015-05-02 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.43
Name: 2015-05-03 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.4275
Name: 2015-05-04 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    0.366667
Level (m)                   1.452917
Name: 2015-05-05 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    0.516667
Level (m)                   1.451250
Name: 2015-05-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.450000
Level (m)                   1.461667
Name: 2015-05-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.454583
Name: 2015-05-08 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.444583
Name: 2015-05-09 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.841667
Level (m)                   1.500417
Name: 2015-05-10 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.191667
Level (m)                   1.497917
Name: 2015-05-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.066667
Level (m)                   1.465833
Name: 2015-05-12 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.908333
Level (m)                   1.469167
Name: 2015-05-13 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    0.683333
Level (m)                   1.467083
Name: 2015-05-14 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    1.466667
Level (m)                   1.512500
Name: 2015-05-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.233333
Level (m)                   1.483750
Name: 2015-05-16 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.075
Level (m)                   1.455
Name: 2015-05-17 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.445417
Name: 2015-05-18 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    1.091667
Level (m)                   1.459583
Name: 2015-05-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.891667
Level (m)                   1.467083
Name: 2015-05-20 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    0.991667
Level (m)                   1.485833
Name: 2015-05-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.750000
Level (m)                   1.492917
Name: 2015-05-22 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.467917
Name: 2015-05-23 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.083333
Level (m)                   1.452083
Name: 2015-05-24 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.445417
Name: 2015-05-25 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.44
Name: 2015-05-26 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.44
Name: 2015-05-27 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.4375
Name: 2015-05-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.439583
Name: 2015-05-29 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.435417
Name: 2015-05-30 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    0.816667
Level (m)                   1.448750
Name: 2015-05-31 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    1.925000
Level (m)                   1.507917
Name: 2015-06-01 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    0.366667
Level (m)                   1.494167
Name: 2015-06-02 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.600000
Level (m)                   1.477917
Name: 2015-06-03 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    1.800000
Level (m)                   1.487917
Name: 2015-06-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.875000
Level (m)                   1.512083
Name: 2015-06-05 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.473333
Name: 2015-06-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.451667
Name: 2015-06-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.443333
Name: 2015-06-08 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.316667
Level (m)                   1.455417
Name: 2015-06-09 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.447917
Name: 2015-06-10 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.444583
Name: 2015-06-11 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.44
Name: 2015-06-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.432083
Name: 2015-06-13 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.43
Name: 2015-06-14 00:00:00, dtype: float64

Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    0.166667
Level (m)                   1.434167
Name: 2015-06-15 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    1.958333
Level (m)                   1.524583
Name: 2015-06-16 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.041667
Level (m)                   1.495000
Name: 2015-06-17 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.108333
Level (m)                   1.459167
Name: 2015-06-18 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.191667
Level (m)                   1.448750
Name: 2015-06-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.516667
Level (m)                   1.455000
Name: 2015-06-20 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.45
Name: 2015-06-21 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.45
Name: 2015-06-22 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.083333
Level (m)                   1.440000
Name: 2015-06-23 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.075
Level (m)                   1.440
Name: 2015-06-24 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.025000
Level (m)                   1.440000
Name: 2015-06-25 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.437917
Name: 2015-06-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.434583
Name: 2015-06-27 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.43
Name: 2015-06-28 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.43
Name: 2015-06-29 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.43
Name: 2015-06-30 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.43
Name: 2015-07-01 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.116667
Level (m)                   1.430417
Name: 2015-07-02 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.12500
Level (m)                   1.43125
Name: 2015-07-03 00:00:00, dtype: float64
Current rainfall (mm)       0.416667
Cumulative rainfall (mm)    0.741667
Level (m)                   1.449583
Name: 2015-07-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.600000
Level (m)                   1.454167
Name: 2015-07-05 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    0.391667
Level (m)                   1.475417
Name: 2015-07-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.391667
Level (m)                   1.476667
Name: 2015-07-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.454167
Name: 2015-07-08 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.444167
Name: 2015-07-09 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.016667
Level (m)                   1.440000
Name: 2015-07-10 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    1.825000
Level (m)                   1.475000
Name: 2015-07-11 00:00:00, dtype: float64
Current rainfall (mm)       0.416667
Cumulative rainfall (mm)    5.158333
Level (m)                   1.555000
Name: 2015-07-12 00:00:00, dtype: float64
Current rainfall (mm)       0.416667
Cumulative rainfall (mm)    4.625000
Level (m)                   1.574583
Name: 2015-07-13 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    1.450000
Level (m)                   1.546667
Name: 2015-07-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.125000
Level (m)                   1.512083
Name: 2015-07-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.481667
Name: 2015-07-16 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.591667
Level (m)                   1.484583
Name: 2015-07-17 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.725000
Level (m)                   1.505000
Name: 2015-07-18 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.000000
Level (m)                   1.472917
Name: 2015-07-19 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.46125
Name: 2015-07-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.455
Name: 2015-07-21 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    0.183333
Level (m)                   1.459583
Name: 2015-07-22 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.450417
Name: 2015-07-23 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.508333
Level (m)                   1.464583
Name: 2015-07-24 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.97500
Level (m)                   1.48875
Name: 2015-07-25 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.883333
Level (m)                   1.494167
Name: 2015-07-26 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.633333
Level (m)                   1.487917
Name: 2015-07-27 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.07500
Level (m)                   1.46875
Name: 2015-07-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.487917
Name: 2015-07-29 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.016667
Level (m)                   1.470833
Name: 2015-07-30 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.141667
Level (m)                   1.458750
Name: 2015-07-31 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.451667
Name: 2015-08-01 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    0.725000
Level (m)                   1.463333
Name: 2015-08-02 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.258333
Level (m)                   1.502083
Name: 2015-08-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.075
Level (m)                   1.480
Name: 2015-08-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.241667
Level (m)                   1.470417
Name: 2015-08-05 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.300000
Level (m)                   1.479583
Name: 2015-08-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.500000
Level (m)                   1.486667
Name: 2015-08-07 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.4250
Level (m)                   1.4775
Name: 2015-08-08 00:00:00, dtype: float64

Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.4625
Name: 2015-08-09 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.025000
Level (m)                   1.460000
Name: 2015-08-10 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.455
Name: 2015-08-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.166667
Level (m)                   1.451667
Name: 2015-08-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.225000
Level (m)                   1.454583
Name: 2015-08-13 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.450833
Name: 2015-08-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.066667
Level (m)                   1.449583
Name: 2015-08-15 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.45
Name: 2015-08-16 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    0.500000
Level (m)                   1.467500
Name: 2015-08-17 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.150000
Level (m)                   1.465833
Name: 2015-08-18 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.091667
Level (m)                   1.462917
Name: 2015-08-19 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.07500
Level (m)                   1.45625
Name: 2015-08-20 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.45
Name: 2015-08-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.444167
Name: 2015-08-22 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.45
Name: 2015-08-23 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.45
Name: 2015-08-24 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.45
Name: 2015-08-25 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.45
Name: 2015-08-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.166667
Level (m)                   1.450000
Name: 2015-08-27 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.233333
Level (m)                   1.450000
Name: 2015-08-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.258333
Level (m)                   1.447500
Name: 2015-08-29 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.225000
Level (m)                   1.444583
Name: 2015-08-30 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.108333
Level (m)                   1.445000
Name: 2015-08-31 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.435833
Name: 2015-09-01 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    1.116667
Level (m)                   1.458333
Name: 2015-09-02 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    2.208333
Level (m)                   1.505833
Name: 2015-09-03 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.100000
Level (m)                   1.476667
Name: 2015-09-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.449167
Name: 2015-09-05 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    0.641667
Level (m)                   1.450000
Name: 2015-09-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.708333
Level (m)                   1.504167
Name: 2015-09-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.383333
Level (m)                   1.480833
Name: 2015-09-08 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.066667
Level (m)                   1.460833
Name: 2015-09-09 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.449583
Name: 2015-09-10 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.443333
Name: 2015-09-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.436667
Name: 2015-09-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.437083
Name: 2015-09-13 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.429583
Name: 2015-09-14 00:00:00, dtype: float64
Current rainfall (mm)       1.166667
Cumulative rainfall (mm)    3.408333
Level (m)                   1.634167
Name: 2015-09-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.525833
Name: 2015-09-16 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.075000
Level (m)                   1.487083
Name: 2015-09-17 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.474583
Name: 2015-09-18 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.464583
Name: 2015-09-19 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.10000
Level (m)                   1.45875
Name: 2015-09-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.075
Level (m)                   1.460
Name: 2015-09-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.791667
Level (m)                   1.469167
Name: 2015-09-22 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.583333
Level (m)                   1.465000
Name: 2015-09-23 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.469583
Name: 2015-09-24 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.464167
Name: 2015-09-25 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.45875
Name: 2015-09-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.458333
Name: 2015-09-27 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.455833
Name: 2015-09-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.459167
Name: 2015-09-29 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.45875
Name: 2015-09-30 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.4575
Name: 2015-10-01 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.459167
Name: 2015-10-02 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.455417
Name: 2015-10-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.451304

Name: 2015-10-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.450417
Name: 2015-10-05 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.4475
Name: 2015-10-06 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.4425
Name: 2015-10-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.445417
Name: 2015-10-08 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.450417
Name: 2015-10-09 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.450417
Name: 2015-10-10 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.452083
Name: 2015-10-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.225000
Level (m)                   1.460833
Name: 2015-10-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.075
Level (m)                   1.455
Name: 2015-10-13 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.449167
Name: 2015-10-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.440417
Name: 2015-10-15 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.44
Name: 2015-10-16 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.435417
Name: 2015-10-17 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.4325
Name: 2015-10-18 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.435
Name: 2015-10-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.008333
Level (m)                   1.432083
Name: 2015-10-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.608333
Level (m)                   1.444583
Name: 2015-10-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.300000
Level (m)                   1.438333
Name: 2015-10-22 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.150000
Level (m)                   1.427083
Name: 2015-10-23 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.425
Name: 2015-10-24 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.42
Name: 2015-10-25 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.420417
Name: 2015-10-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.418333
Name: 2015-10-27 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.410833
Name: 2015-10-28 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.41125
Name: 2015-10-29 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.4125
Name: 2015-10-30 00:00:00, dtype: float64
Current rainfall (mm)       0.500
Cumulative rainfall (mm)    1.350
Level (m)                   1.455
Name: 2015-10-31 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.675000
Level (m)                   1.459583
Name: 2015-11-01 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.541667
Level (m)                   1.463750
Name: 2015-11-02 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.375000
Level (m)                   1.445417
Name: 2015-11-03 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    2.066667
Level (m)                   1.491250
Name: 2015-11-04 00:00:00, dtype: float64
Current rainfall (mm)       0.666667
Cumulative rainfall (mm)    9.933333
Level (m)                   1.779583
Name: 2015-11-05 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    3.37500
Level (m)                   1.54875
Name: 2015-11-06 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.07500
Level (m)                   1.48375
Name: 2015-11-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.455833
Name: 2015-11-08 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.444167
Name: 2015-11-09 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    0.975000
Level (m)                   1.454583
Name: 2015-11-10 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.200000
Level (m)                   1.482083
Name: 2015-11-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.091667
Level (m)                   1.468333
Name: 2015-11-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.454583
Name: 2015-11-13 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.437917
Name: 2015-11-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.427083
Name: 2015-11-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.422917
Name: 2015-11-16 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.416667
Name: 2015-11-17 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.410417
Name: 2015-11-18 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.405
Name: 2015-11-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.408333
Level (m)                   1.432917
Name: 2015-11-20 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.45000
Level (m)                   1.43625
Name: 2015-11-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.425417
Name: 2015-11-22 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.417083
Name: 2015-11-23 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.413333
Name: 2015-11-24 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.407083
Name: 2015-11-25 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.283333
Level (m)                   1.414167
Name: 2015-11-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.225000
Level (m)                   1.410417
Name: 2015-11-27 00:00:00, dtype: float64

Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.412083
Name: 2015-11-28 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.41
Name: 2015-11-29 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.415
Name: 2015-11-30 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.408333
Level (m)                   1.430000
Name: 2015-12-01 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.420417
Name: 2015-12-02 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.41125
Name: 2015-12-03 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.41125
Name: 2015-12-04 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.40625
Name: 2015-12-05 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.407083
Name: 2015-12-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.083333
Level (m)                   1.406250
Name: 2015-12-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.250000
Level (m)                   1.414167
Name: 2015-12-08 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.408333
Name: 2015-12-09 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.402083
Name: 2015-12-10 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.40375
Name: 2015-12-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.400417
Name: 2015-12-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.399167
Name: 2015-12-13 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.39625
Name: 2015-12-14 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.3975
Name: 2015-12-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.395833
Name: 2015-12-16 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.389583
Name: 2015-12-17 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.39125
Name: 2015-12-18 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.390417
Name: 2015-12-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.516667
Level (m)                   1.403333
Name: 2015-12-20 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.858333
Level (m)                   1.408333
Name: 2015-12-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.406667
Name: 2015-12-22 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.4
Name: 2015-12-23 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.395833
Name: 2015-12-24 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.391667
Name: 2015-12-25 00:00:00, dtype: float64
Current rainfall (mm)       1.000000
Cumulative rainfall (mm)    2.550000
Level (m)                   1.632917
Name: 2015-12-26 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.22500
Level (m)                   1.52125
Name: 2015-12-27 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.472083
Name: 2015-12-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.447083
Name: 2015-12-29 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.435417
Name: 2015-12-30 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.425
Name: 2015-12-31 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.42
Name: 2016-01-01 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.415417
Name: 2016-01-02 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.413333
Name: 2016-01-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.410833
Name: 2016-01-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.412083
Name: 2016-01-05 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.410833
Name: 2016-01-06 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.41
Name: 2016-01-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.410833
Name: 2016-01-08 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.409167
Name: 2016-01-09 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.40625
Name: 2016-01-10 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.033333
Level (m)                   1.405000
Name: 2016-01-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.100000
Level (m)                   1.409583
Name: 2016-01-12 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.40125
Name: 2016-01-13 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.308333
Level (m)                   1.410833
Name: 2016-01-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.375000
Level (m)                   1.410417
Name: 2016-01-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.410417
Name: 2016-01-16 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.408333
Name: 2016-01-17 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.4025
Name: 2016-01-18 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.100000
Level (m)                   1.402917
Name: 2016-01-19 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.691667
Level (m)                   1.414583
Name: 2016-01-20 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.37500
Level (m)                   1.41375
Name: 2016-01-21 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    1.141667
Level (m)                   1.431667
Name: 2016-01-22 00:00:00, dtype: float64

Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.97500
Level (m)                   1.43125
Name: 2016-01-23 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.12500
Level (m)                   1.42625
Name: 2016-01-24 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.108333
Level (m)                   1.427500
Name: 2016-01-25 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.419167
Name: 2016-01-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    7.141667
Level (m)                   1.592917
Name: 2016-01-27 00:00:00, dtype: float64
Current rainfall (mm)        0.333333
Cumulative rainfall (mm)    11.308333
Level (m)                    1.628333
Name: 2016-01-28 00:00:00, dtype: float64
Current rainfall (mm)       0.333333
Cumulative rainfall (mm)    2.416667
Level (m)                   1.652500
Name: 2016-01-29 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.475000
Level (m)                   1.535417
Name: 2016-01-30 00:00:00, dtype: float64
Current rainfall (mm)       2.916667
Cumulative rainfall (mm)    6.525000
Level (m)                   1.734583
Name: 2016-01-31 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.542083
Name: 2016-02-01 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.487917
Name: 2016-02-02 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.225000
Level (m)                   1.472083
Name: 2016-02-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.150000
Level (m)                   1.465417
Name: 2016-02-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.454583
Name: 2016-02-05 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.439583
Name: 2016-02-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.424167
Name: 2016-02-07 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.41875
Name: 2016-02-08 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.419583
Name: 2016-02-09 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.419583
Name: 2016-02-10 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.415417
Name: 2016-02-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.412083
Name: 2016-02-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.410417
Name: 2016-02-13 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.41
Name: 2016-02-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.409583
Name: 2016-02-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.050
Level (m)                   1.415
Name: 2016-02-16 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.41
Name: 2016-02-17 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.417083
Name: 2016-02-18 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.42
Name: 2016-02-19 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.4175
Name: 2016-02-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.410417
Name: 2016-02-21 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.41
Name: 2016-02-22 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.108333
Level (m)                   1.415000
Name: 2016-02-23 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    0.116667
Level (m)                   1.411250
Name: 2016-02-24 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.475000
Level (m)                   1.426667
Name: 2016-02-25 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.419167
Name: 2016-02-26 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.42
Name: 2016-02-27 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.41625
Name: 2016-02-28 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.41125
Name: 2016-02-29 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.415417
Name: 2016-03-01 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.412083
Name: 2016-03-02 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.108333
Level (m)                   1.417917
Name: 2016-03-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.421667
Name: 2016-03-04 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.42
Name: 2016-03-05 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.425833
Name: 2016-03-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.423333
Name: 2016-03-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.100000
Level (m)                   1.426667
Name: 2016-03-08 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    0.175000
Level (m)                   1.429583
Name: 2016-03-09 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    1.300000
Level (m)                   1.485000
Name: 2016-03-10 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.600000
Level (m)                   1.472917
Name: 2016-03-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.463333
Name: 2016-03-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.016667
Level (m)                   1.443333
Name: 2016-03-13 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.033333
Level (m)                   1.439167
Name: 2016-03-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.434583
Name: 2016-03-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.247917
Name: 2016-03-16 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.421667
Name: 2016-03-17 00:00:00, dtype: float64
Current rainfall (mm)       0.333333
Cumulative rainfall (mm)    2.466667
Level (m)                   1.562917
Name: 2016-03-18 00:00:00, dtype: float64

Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.750000
Level (m)                   1.524583
Name: 2016-03-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.464583
Name: 2016-03-20 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.44
Name: 2016-03-21 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.43125
Name: 2016-03-22 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.4275
Name: 2016-03-23 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.426667
Name: 2016-03-24 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.428333
Name: 2016-03-25 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.429583
Name: 2016-03-26 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0500
Level (m)                   1.4325
Name: 2016-03-27 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.43
Name: 2016-03-28 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.43375
Name: 2016-03-29 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.43875
Name: 2016-03-30 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.434583
Name: 2016-03-31 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.430417
Name: 2016-04-01 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.429167
Name: 2016-04-02 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.4275
Name: 2016-04-03 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.42875
Name: 2016-04-04 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.42625
Name: 2016-04-05 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    1.600000
Level (m)                   1.508750
Name: 2016-04-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.925000
Level (m)                   1.522083
Name: 2016-04-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.480833
Name: 2016-04-08 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.451667
Name: 2016-04-09 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.44
Name: 2016-04-10 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.44375
Name: 2016-04-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.445417
Name: 2016-04-12 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.875000
Level (m)                   1.460000
Name: 2016-04-13 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.4425
Name: 2016-04-14 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.44
Name: 2016-04-15 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.066667
Level (m)                   1.437917
Name: 2016-04-16 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.375000
Level (m)                   1.447083
Name: 2016-04-17 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.4375
Name: 2016-04-18 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.435833
Name: 2016-04-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.432917
Name: 2016-04-20 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    1.300000
Level (m)                   1.457500
Name: 2016-04-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    2.875000
Level (m)                   1.535417
Name: 2016-04-22 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.491667
Name: 2016-04-23 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.45875
Name: 2016-04-24 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.44375
Name: 2016-04-25 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.439167
Name: 2016-04-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.435833
Name: 2016-04-27 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.429167
Name: 2016-04-28 00:00:00, dtype: float64
Current rainfall (mm)       0.416667
Cumulative rainfall (mm)    3.916667
Level (m)                   1.502917
Name: 2016-04-29 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    3.15000
Level (m)                   1.53625
Name: 2016-04-30 00:00:00, dtype: float64
Current rainfall (mm)       1.000000
Cumulative rainfall (mm)    1.958333
Level (m)                   1.601250
Name: 2016-05-01 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.514167
Name: 2016-05-02 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.575000
Level (m)                   1.481667
Name: 2016-05-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.675000
Level (m)                   1.485417
Name: 2016-05-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.475833
Name: 2016-05-05 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.444167
Name: 2016-05-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.423333
Name: 2016-05-07 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    1.025000
Level (m)                   1.524167
Name: 2016-05-08 00:00:00, dtype: float64
Current rainfall (mm)       0.250
Cumulative rainfall (mm)    5.925
Level (m)                   1.630
Name: 2016-05-09 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    4.516667
Level (m)                   1.562917
Name: 2016-05-10 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.22500
Level (m)                   1.49625
Name: 2016-05-11 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.46
Name: 2016-05-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.445833
Name: 2016-05-13 00:00:00, dtype: float64

Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.4325
Name: 2016-05-14 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.43
Name: 2016-05-15 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    0.108333
Level (m)                   1.434583
Name: 2016-05-16 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.375000
Level (m)                   1.441667
Name: 2016-05-17 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.430833
Name: 2016-05-18 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.150000
Level (m)                   1.434167
Name: 2016-05-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.225000
Level (m)                   1.432083
Name: 2016-05-20 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.43
Name: 2016-05-21 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.43
Name: 2016-05-22 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.808333
Level (m)                   1.460417
Name: 2016-05-23 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.600000
Level (m)                   1.475417
Name: 2016-05-24 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    0.733333
Level (m)                   1.477083
Name: 2016-05-25 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    3.116667
Level (m)                   1.560417
Name: 2016-05-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.091667
Level (m)                   1.536250
Name: 2016-05-27 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.100000
Level (m)                   1.478333
Name: 2016-05-28 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0750
Level (m)                   1.4475
Name: 2016-05-29 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.437083
Name: 2016-05-30 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.43
Name: 2016-05-31 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.43
Name: 2016-06-01 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.008333
Level (m)                   1.430000
Name: 2016-06-02 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.2750
Level (m)                   1.4375
Name: 2016-06-03 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    2.141667
Level (m)                   1.512917
Name: 2016-06-04 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    1.258333
Level (m)                   1.534167
Name: 2016-06-05 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.30000
Level (m)                   1.50375
Name: 2016-06-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.408333
Level (m)                   1.475833
Name: 2016-06-07 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    0.483333
Level (m)                   1.464167
Name: 2016-06-08 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.775000
Level (m)                   1.488333
Name: 2016-06-09 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.441667
Level (m)                   1.486250
Name: 2016-06-10 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.750
Level (m)                   1.495
Name: 2016-06-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.066667
Level (m)                   1.475417
Name: 2016-06-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.454167
Name: 2016-06-13 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.445
Name: 2016-06-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.438333
Name: 2016-06-15 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    1.308333
Level (m)                   1.468333
Name: 2016-06-16 00:00:00, dtype: float64
Current rainfall (mm)       0.583333
Cumulative rainfall (mm)    3.033333
Level (m)                   1.558750
Name: 2016-06-17 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    2.416667
Level (m)                   1.632917
Name: 2016-06-18 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.520417
Name: 2016-06-19 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.283333
Level (m)                   1.525833
Name: 2016-06-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.150000
Level (m)                   1.527083
Name: 2016-06-21 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.15
Level (m)                   1.48
Name: 2016-06-22 00:00:00, dtype: float64
Current rainfall (mm)       0.333333
Cumulative rainfall (mm)    2.733333
Level (m)                   1.520000
Name: 2016-06-23 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    3.933333
Level (m)                   1.596250
Name: 2016-06-24 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.066667
Level (m)                   1.504583
Name: 2016-06-25 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.467083
Name: 2016-06-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.008333
Level (m)                   1.455417
Name: 2016-06-27 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.441667
Name: 2016-06-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.439583
Name: 2016-06-29 00:00:00, dtype: float64
Current rainfall (mm)       0.416667
Cumulative rainfall (mm)    1.683333
Level (m)                   1.475833
Name: 2016-06-30 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    2.200000
Level (m)                   1.538333
Name: 2016-07-01 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.10000
Level (m)                   1.48125
Name: 2016-07-02 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.453333
Name: 2016-07-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.083333
Level (m)                   1.448333
Name: 2016-07-04 00:00:00, dtype: float64
Current rainfall (mm)       0.583333
Cumulative rainfall (mm)    5.933333
Level (m)                   1.657500
Name: 2016-07-05 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    7.091667
Level (m)                   1.705833
Name: 2016-07-06 00:00:00, dtype: float64
Current rainfall (mm)       0.416667
Cumulative rainfall (mm)    2.400000
Level (m)                   1.654167
Name: 2016-07-07 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.90000
Level (m)                   1.57875
Name: 2016-07-08 00:00:00, dtype: float64

Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.1000
Level (m)                   1.5125
Name: 2016-07-09 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.466667
Level (m)                   1.483333
Name: 2016-07-10 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.825000
Level (m)                   1.497917
Name: 2016-07-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.441667
Level (m)                   1.492917
Name: 2016-07-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.491667
Level (m)                   1.482917
Name: 2016-07-13 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.472083
Name: 2016-07-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.454583
Name: 2016-07-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.444167
Name: 2016-07-16 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.44
Name: 2016-07-17 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.433333
Name: 2016-07-18 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.141667
Level (m)                   1.437500
Name: 2016-07-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.525000
Level (m)                   1.445833
Name: 2016-07-20 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    0.008333
Level (m)                   1.457917
Name: 2016-07-21 00:00:00, dtype: float64
Current rainfall (mm)       0.833333
Cumulative rainfall (mm)    1.183333
Level (m)                   1.505833
Name: 2016-07-22 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    2.825000
Level (m)                   1.582500
Name: 2016-07-23 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.37500
Level (m)                   1.50625
Name: 2016-07-24 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.966667
Level (m)                   1.497917
Name: 2016-07-25 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    1.80000
Level (m)                   1.54625
Name: 2016-07-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.493333
Name: 2016-07-27 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.461667
Name: 2016-07-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.666667
Level (m)                   1.464583
Name: 2016-07-29 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.750
Level (m)                   1.465
Name: 2016-07-30 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.225000
Level (m)                   1.464583
Name: 2016-07-31 00:00:00, dtype: float64
Current rainfall (mm)       0.833333
Cumulative rainfall (mm)    1.650000
Level (m)                   1.507500
Name: 2016-08-01 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    2.725
Level (m)                   1.575
Name: 2016-08-02 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.191667
Level (m)                   1.515833
Name: 2016-08-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.091667
Level (m)                   1.478750
Name: 2016-08-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.460417
Name: 2016-08-05 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.450417
Name: 2016-08-06 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.45
Name: 2016-08-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.449167
Name: 2016-08-08 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.008333
Level (m)                   1.450000
Name: 2016-08-09 00:00:00, dtype: float64
Current rainfall (mm)       0.333333
Cumulative rainfall (mm)    0.925000
Level (m)                   1.470000
Name: 2016-08-10 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    2.100000
Level (m)                   1.546667
Name: 2016-08-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.033333
Level (m)                   1.499167
Name: 2016-08-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.175000
Level (m)                   1.467083
Name: 2016-08-13 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.46
Name: 2016-08-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.454167
Name: 2016-08-15 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.45
Name: 2016-08-16 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.033333
Level (m)                   1.450000
Name: 2016-08-17 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.45
Name: 2016-08-18 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    3.975000
Level (m)                   1.530833
Name: 2016-08-19 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    3.691667
Level (m)                   1.563750
Name: 2016-08-20 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.725000
Level (m)                   1.508333
Name: 2016-08-21 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    1.733333
Level (m)                   1.262500
Name: 2016-08-22 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    1.366667
Level (m)                   1.246667
Name: 2016-08-23 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0750
Level (m)                   1.2225
Name: 2016-08-24 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.008333
Level (m)                   1.251667
Name: 2016-08-25 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.133333
Level (m)                   1.017917
Name: 2016-08-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   0.905833
Name: 2016-08-27 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   0.89
Name: 2016-08-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.092917
Name: 2016-08-29 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.191667
Level (m)                   1.468750
Name: 2016-08-30 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.150000
Level (m)                   1.468333
Name: 2016-08-31 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.108333
Level (m)                   1.470417
Name: 2016-09-01 00:00:00, dtype: float64

Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.22500
Level (m)                   1.47125
Name: 2016-09-02 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.108333
Level (m)                   1.469583
Name: 2016-09-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.469167
Name: 2016-09-04 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.47
Name: 2016-09-05 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.47
Name: 2016-09-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.465417
Name: 2016-09-07 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.4675
Name: 2016-09-08 00:00:00, dtype: float64
Current rainfall (mm)       0.416667
Cumulative rainfall (mm)    2.941667
Level (m)                   1.605833
Name: 2016-09-09 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    3.925000
Level (m)                   1.643333
Name: 2016-09-10 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.625000
Level (m)                   1.555833
Name: 2016-09-11 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    1.200000
Level (m)                   1.549583
Name: 2016-09-12 00:00:00, dtype: float64
Current rainfall (mm)       0.333333
Cumulative rainfall (mm)    8.633333
Level (m)                   1.776667
Name: 2016-09-13 00:00:00, dtype: float64
Current rainfall (mm)       0.333333
Cumulative rainfall (mm)    6.400000
Level (m)                   1.830000
Name: 2016-09-14 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.9250
Level (m)                   1.6925
Name: 2016-09-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.591667
Level (m)                   1.644167
Name: 2016-09-16 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.582917
Name: 2016-09-17 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.47500
Level (m)                   1.55375
Name: 2016-09-18 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.900000
Level (m)                   1.543333
Name: 2016-09-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.512917
Name: 2016-09-20 00:00:00, dtype: float64
Current rainfall (mm)       0.250
Cumulative rainfall (mm)    0.225
Level (m)                   1.520
Name: 2016-09-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.225000
Level (m)                   1.523333
Name: 2016-09-22 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.48875
Name: 2016-09-23 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.25
Level (m)                   1.48
Name: 2016-09-24 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    2.533333
Level (m)                   1.586667
Name: 2016-09-25 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.791667
Level (m)                   1.543750
Name: 2016-09-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    2.200000
Level (m)                   1.590417
Name: 2016-09-27 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.108333
Level (m)                   1.528750
Name: 2016-09-28 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    1.016667
Level (m)                   1.528750
Name: 2016-09-29 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.5250
Level (m)                   1.5175
Name: 2016-09-30 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.166667
Level (m)                   1.491667
Name: 2016-10-01 00:00:00, dtype: float64
Current rainfall (mm)       0.260870
Cumulative rainfall (mm)    0.130435
Level (m)                   1.477826
Name: 2016-10-02 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    2.65000
Level (m)                   1.62125
Name: 2016-10-03 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.591667
Level (m)                   1.551667
Name: 2016-10-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.783333
Level (m)                   1.531667
Name: 2016-10-05 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.150000
Level (m)                   1.497917
Name: 2016-10-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.488333
Name: 2016-10-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.475417
Name: 2016-10-08 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.158333
Level (m)                   1.467083
Name: 2016-10-09 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.716667
Level (m)                   1.476250
Name: 2016-10-10 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.225000
Level (m)                   1.464167
Name: 2016-10-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.158333
Level (m)                   1.466250
Name: 2016-10-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.250000
Level (m)                   1.487917
Name: 2016-10-13 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.07500
Level (m)                   1.48375
Name: 2016-10-14 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.4575
Name: 2016-10-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.000000
Level (m)                   1.474167
Name: 2016-10-16 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    2.508333
Level (m)                   1.569583
Name: 2016-10-17 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.550000
Level (m)                   1.527500
Name: 2016-10-18 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.67500
Level (m)                   1.51875
Name: 2016-10-19 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.49375
Name: 2016-10-20 00:00:00, dtype: float64
Current rainfall (mm)       0.583333
Cumulative rainfall (mm)    3.508333
Level (m)                   1.544583
Name: 2016-10-21 00:00:00, dtype: float64
Current rainfall (mm)       0.750000
Cumulative rainfall (mm)    6.766667
Level (m)                   1.666667
Name: 2016-10-22 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    2.958333
Level (m)                   1.600417
Name: 2016-10-23 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.150000
Level (m)                   1.534167
Name: 2016-10-24 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.49125
Name: 2016-10-25 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.467917
Name: 2016-10-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.455
Name: 2016-10-27 00:00:00, dtype: float64

Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.449167
Name: 2016-10-28 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.44375
Name: 2016-10-29 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.44
Name: 2016-10-30 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.437917
Name: 2016-10-31 00:00:00, dtype: float64
Current rainfall (mm)       0.333333
Cumulative rainfall (mm)    0.408333
Level (m)                   1.447500
Name: 2016-11-01 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.675000
Level (m)                   1.459167
Name: 2016-11-02 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.46
Name: 2016-11-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.116667
Level (m)                   1.447917
Name: 2016-11-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.075
Level (m)                   1.440
Name: 2016-11-05 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.435833
Name: 2016-11-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.150000
Level (m)                   1.439583
Name: 2016-11-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.150000
Level (m)                   1.436667
Name: 2016-11-08 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.437083
Name: 2016-11-09 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.432917
Name: 2016-11-10 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.432917
Name: 2016-11-11 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.733333
Level (m)                   1.460417
Name: 2016-11-12 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    2.633333
Level (m)                   1.502500
Name: 2016-11-13 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    3.425000
Level (m)                   1.622917
Name: 2016-11-14 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.55
Name: 2016-11-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.484583
Name: 2016-11-16 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.455417
Name: 2016-11-17 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.44625
Name: 2016-11-18 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.435417
Name: 2016-11-19 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.43
Name: 2016-11-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.427917
Name: 2016-11-21 00:00:00, dtype: float64
Current rainfall (mm)       0.416667
Cumulative rainfall (mm)    1.566667
Level (m)                   1.577083
Name: 2016-11-22 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    1.808333
Level (m)                   1.602917
Name: 2016-11-23 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    1.158333
Level (m)                   1.577917
Name: 2016-11-24 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.07500
Level (m)                   1.50625
Name: 2016-11-25 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.468333
Name: 2016-11-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.454167
Name: 2016-11-27 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.446667
Name: 2016-11-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.441667
Name: 2016-11-29 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.44
Name: 2016-11-30 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.44
Name: 2016-12-01 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.440833
Name: 2016-12-02 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.44
Name: 2016-12-03 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.44
Name: 2016-12-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.091667
Level (m)                   1.437917
Name: 2016-12-05 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.435417
Name: 2016-12-06 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.43
Name: 2016-12-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.325000
Level (m)                   1.512083
Name: 2016-12-08 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.050000
Level (m)                   1.559167
Name: 2016-12-09 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.514583
Name: 2016-12-10 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.4725
Name: 2016-12-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.450833
Name: 2016-12-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.438333
Name: 2016-12-13 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.4325
Name: 2016-12-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.426667
Name: 2016-12-15 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.43375
Name: 2016-12-16 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.42625
Name: 2016-12-17 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.42
Name: 2016-12-18 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.420417
Name: 2016-12-19 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.12500
Level (m)                   1.44375
Name: 2016-12-20 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.07500
Level (m)                   1.45625
Name: 2016-12-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.445
Name: 2016-12-22 00:00:00, dtype: float64

Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.437917
Name: 2016-12-23 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.428333
Name: 2016-12-24 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.421667
Name: 2016-12-25 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.366667
Level (m)                   1.434167
Name: 2016-12-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.566667
Level (m)                   1.446667
Name: 2016-12-27 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.30000
Level (m)                   1.45625
Name: 2016-12-28 00:00:00, dtype: float64
Current rainfall (mm)       4.583333
Cumulative rainfall (mm)    7.691667
Level (m)                   1.615833
Name: 2016-12-29 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    9.033333
Level (m)                   1.649583
Name: 2016-12-30 00:00:00, dtype: float64
Current rainfall (mm)      NaN
Cumulative rainfall (mm)   NaN
Level (m)                  NaN
Name: 2016-12-31 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.716667
Level (m)                   1.527917
Name: 2017-01-01 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.025000
Level (m)                   1.509167
Name: 2017-01-02 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.300000
Level (m)                   1.492083
Name: 2017-01-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.472083
Name: 2017-01-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.455833
Name: 2017-01-05 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.45
Name: 2017-01-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.442917
Name: 2017-01-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.434583
Name: 2017-01-08 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.43
Name: 2017-01-09 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.434583
Name: 2017-01-10 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.432917
Name: 2017-01-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.432917
Name: 2017-01-12 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    0.616667
Level (m)                   1.489583
Name: 2017-01-13 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.60000
Level (m)                   1.49625
Name: 2017-01-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.467917
Name: 2017-01-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.455833
Name: 2017-01-16 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.446667
Name: 2017-01-17 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.4375
Name: 2017-01-18 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.43375
Name: 2017-01-19 00:00:00, dtype: float64
Current rainfall (mm)       1.000000
Cumulative rainfall (mm)    3.808333
Level (m)                   1.719167
Name: 2017-01-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.584583
Name: 2017-01-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.532917
Name: 2017-01-22 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.016667
Level (m)                   1.496250
Name: 2017-01-23 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.183333
Level (m)                   1.485417
Name: 2017-01-24 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.474583
Name: 2017-01-25 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.4675
Name: 2017-01-26 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.4625
Name: 2017-01-27 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.46
Name: 2017-01-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.459583
Name: 2017-01-29 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.465833
Name: 2017-01-30 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.45875
Name: 2017-01-31 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.450417
Name: 2017-02-01 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.45625
Name: 2017-02-02 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.462083
Name: 2017-02-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.453333
Name: 2017-02-04 00:00:00, dtype: float64
Current rainfall (mm)       1.083333
Cumulative rainfall (mm)    4.075000
Level (m)                   1.551667
Name: 2017-02-05 00:00:00, dtype: float64
Current rainfall (mm)        0.083333
Cumulative rainfall (mm)    11.500000
Level (m)                    1.830833
Name: 2017-02-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.150000
Level (m)                   1.595417
Name: 2017-02-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.539167
Name: 2017-02-08 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.509167
Name: 2017-02-09 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.49625
Name: 2017-02-10 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.485833
Name: 2017-02-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.016667
Level (m)                   1.483333
Name: 2017-02-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.481667
Name: 2017-02-13 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.49625
Name: 2017-02-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.495833
Name: 2017-02-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.482917
Name: 2017-02-16 00:00:00, dtype: float64

Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.475833
Name: 2017-02-17 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.469167
Name: 2017-02-18 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.625000
Level (m)                   1.484167
Name: 2017-02-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.825000
Level (m)                   1.505833
Name: 2017-02-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.487917
Name: 2017-02-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.475833
Name: 2017-02-22 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.469583
Name: 2017-02-23 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.47125
Name: 2017-02-24 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.469583
Name: 2017-02-25 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.467917
Name: 2017-02-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.460417
Name: 2017-02-27 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.461667
Name: 2017-02-28 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.45625
Name: 2017-03-01 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.45125
Name: 2017-03-02 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.4575
Name: 2017-03-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.459583
Name: 2017-03-04 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.46
Name: 2017-03-05 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.46
Name: 2017-03-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.457917
Name: 2017-03-07 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.4525
Name: 2017-03-08 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.45
Name: 2017-03-09 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.455833
Name: 2017-03-10 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.459167
Name: 2017-03-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.208333
Level (m)                   1.467500
Name: 2017-03-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.075
Level (m)                   1.460
Name: 2017-03-13 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.46125
Name: 2017-03-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.453333
Name: 2017-03-15 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    0.100000
Level (m)                   1.494583
Name: 2017-03-16 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.495
Name: 2017-03-17 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.470417
Name: 2017-03-18 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.46
Name: 2017-03-19 00:00:00, dtype: float64
Current rainfall (mm)       0.333333
Cumulative rainfall (mm)    3.566667
Level (m)                   1.520833
Name: 2017-03-20 00:00:00, dtype: float64
Current rainfall (mm)       0.666667
Cumulative rainfall (mm)    6.175000
Level (m)                   1.668750
Name: 2017-03-21 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    6.008333
Level (m)                   1.745833
Name: 2017-03-22 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.450000
Level (m)                   1.615833
Name: 2017-03-23 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.557917
Name: 2017-03-24 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.5275
Name: 2017-03-25 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.510417
Name: 2017-03-26 00:00:00, dtype: float64
Current rainfall (mm)       0.333333
Cumulative rainfall (mm)    0.433333
Level (m)                   1.514167
Name: 2017-03-27 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.450000
Level (m)                   1.511667
Name: 2017-03-28 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.041667
Level (m)                   1.502083
Name: 2017-03-29 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    1.466667
Level (m)                   1.571250
Name: 2017-03-30 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.56125
Name: 2017-03-31 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.527083
Name: 2017-04-01 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.50625
Name: 2017-04-02 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.494583
Name: 2017-04-03 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2017-04-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.484583
Name: 2017-04-05 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.48
Name: 2017-04-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.482083
Name: 2017-04-07 00:00:00, dtype: float64
Current rainfall (mm)       0.500000
Cumulative rainfall (mm)    1.233333
Level (m)                   1.498750
Name: 2017-04-08 00:00:00, dtype: float64
Current rainfall (mm)       1.166667
Cumulative rainfall (mm)    4.516667
Level (m)                   1.595417
Name: 2017-04-09 00:00:00, dtype: float64
Current rainfall (mm)        0.666667
Cumulative rainfall (mm)    16.958333
Level (m)                    2.153750
Name: 2017-04-10 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.616667
Level (m)                   1.881250
Name: 2017-04-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.150000
Level (m)                   1.694167
Name: 2017-04-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.631667
Name: 2017-04-13 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.59
Name: 2017-04-14 00:00:00, dtype: float64

Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.56375
Name: 2017-04-15 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.54625
Name: 2017-04-16 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.53
Name: 2017-04-17 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.519583
Name: 2017-04-18 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.523333
Name: 2017-04-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.512083
Name: 2017-04-20 00:00:00, dtype: float64
Current rainfall (mm)       0.750000
Cumulative rainfall (mm)    2.266667
Level (m)                   1.690417
Name: 2017-04-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.600000
Level (m)                   1.615833
Name: 2017-04-22 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.55375
Name: 2017-04-23 00:00:00, dtype: float64
Current rainfall (mm)       0.333333
Cumulative rainfall (mm)    0.241667
Level (m)                   1.528333
Name: 2017-04-24 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    6.608333
Level (m)                   1.822083
Name: 2017-04-25 00:00:00, dtype: float64
Current rainfall (mm)       0.500000
Cumulative rainfall (mm)    2.358333
Level (m)                   1.812917
Name: 2017-04-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.525
Level (m)                   1.910
Name: 2017-04-27 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.100000
Level (m)                   1.876667
Name: 2017-04-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.739583
Name: 2017-04-29 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.664167
Name: 2017-04-30 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.32500
Level (m)                   1.62875
Name: 2017-05-01 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    1.025
Level (m)                   1.625
Name: 2017-05-02 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.225000
Level (m)                   1.595833
Name: 2017-05-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.572083
Name: 2017-05-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.556667
Name: 2017-05-05 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.545417
Name: 2017-05-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.535
Name: 2017-05-07 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.308333
Level (m)                   1.532083
Name: 2017-05-08 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.30
Level (m)                   1.53
Name: 2017-05-09 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.091667
Level (m)                   1.522083
Name: 2017-05-10 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.075
Level (m)                   1.515
Name: 2017-05-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.510833
Name: 2017-05-12 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.51
Name: 2017-05-13 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.51
Name: 2017-05-14 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.51
Name: 2017-05-15 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.51
Name: 2017-05-16 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.041667
Level (m)                   1.509583
Name: 2017-05-17 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.066667
Level (m)                   1.510000
Name: 2017-05-18 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.51
Name: 2017-05-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.216667
Level (m)                   1.516250
Name: 2017-05-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.100000
Level (m)                   1.527917
Name: 2017-05-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.522083
Name: 2017-05-22 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.5125
Name: 2017-05-23 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.51
Name: 2017-05-24 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.509167
Name: 2017-05-25 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.5
Name: 2017-05-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.495
Name: 2017-05-27 00:00:00, dtype: float64
Current rainfall (mm)       0.416667
Cumulative rainfall (mm)    2.233333
Level (m)                   1.646667
Name: 2017-05-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.158333
Level (m)                   1.578333
Name: 2017-05-29 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.191667
Level (m)                   1.534167
Name: 2017-05-30 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.300000
Level (m)                   1.520417
Name: 2017-05-31 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.508333
Name: 2017-06-01 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.49625
Name: 2017-06-02 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2017-06-03 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.48
Name: 2017-06-04 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.05
Level (m)                   1.48
Name: 2017-06-05 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.708333
Level (m)                   1.523333
Name: 2017-06-06 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.100000
Level (m)                   1.533750
Name: 2017-06-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.300000
Level (m)                   1.512917
Name: 2017-06-08 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.716667
Level (m)                   1.590833
Name: 2017-06-09 00:00:00, dtype: float64

Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.55375
Name: 2017-06-10 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.516667
Name: 2017-06-11 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.5
Name: 2017-06-12 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.49375
Name: 2017-06-13 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2017-06-14 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2017-06-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.489167
Name: 2017-06-16 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2017-06-17 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.48
Name: 2017-06-18 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.48
Name: 2017-06-19 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.48
Name: 2017-06-20 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.48
Name: 2017-06-21 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.48
Name: 2017-06-22 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.48
Name: 2017-06-23 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.484583
Name: 2017-06-24 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.125000
Level (m)                   1.480417
Name: 2017-06-25 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.150000
Level (m)                   1.482917
Name: 2017-06-26 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.48
Name: 2017-06-27 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.484583
Name: 2017-06-28 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.10000
Level (m)                   1.49375
Name: 2017-06-29 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.15
Level (m)                   1.49
Name: 2017-06-30 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2017-07-01 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2017-07-02 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.691667
Level (m)                   1.500833
Name: 2017-07-03 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.875000
Level (m)                   1.522500
Name: 2017-07-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.519167
Name: 2017-07-05 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.502083
Name: 2017-07-06 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.5
Name: 2017-07-07 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.5
Name: 2017-07-08 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.490417
Name: 2017-07-09 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.166667
Level (m)                   1.493750
Name: 2017-07-10 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.300000
Level (m)                   1.492083
Name: 2017-07-11 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.4975
Name: 2017-07-12 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.49125
Name: 2017-07-13 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.100000
Level (m)                   1.499583
Name: 2017-07-14 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.091667
Level (m)                   1.509583
Name: 2017-07-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.505833
Name: 2017-07-16 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.083333
Level (m)                   1.494167
Name: 2017-07-17 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.225000
Level (m)                   1.492083
Name: 2017-07-18 00:00:00, dtype: float64
Current rainfall (mm)       0.416667
Cumulative rainfall (mm)    1.433333
Level (m)                   1.581667
Name: 2017-07-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    2.041667
Level (m)                   1.586667
Name: 2017-07-20 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.97500
Level (m)                   1.54125
Name: 2017-07-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.520417
Name: 2017-07-22 00:00:00, dtype: float64
Current rainfall (mm)       0.416667
Cumulative rainfall (mm)    1.716667
Level (m)                   1.526250
Name: 2017-07-23 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    1.816667
Level (m)                   1.548750
Name: 2017-07-24 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.250000
Level (m)                   1.528333
Name: 2017-07-25 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.800000
Level (m)                   1.529167
Name: 2017-07-26 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.675000
Level (m)                   1.563750
Name: 2017-07-27 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    1.525000
Level (m)                   1.587083
Name: 2017-07-28 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.54625
Name: 2017-07-29 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.519167
Name: 2017-07-30 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.504167
Name: 2017-07-31 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.5
Name: 2017-08-01 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.49625
Name: 2017-08-02 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    0.825000
Level (m)                   1.509583
Name: 2017-08-03 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    2.250000
Level (m)                   1.597500
Name: 2017-08-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.091667
Level (m)                   1.552500
Name: 2017-08-05 00:00:00, dtype: float64

Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.841667
Level (m)                   1.533750
Name: 2017-08-06 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.975000
Level (m)                   1.537083
Name: 2017-08-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.375000
Level (m)                   1.569167
Name: 2017-08-08 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.116667
Level (m)                   1.541250
Name: 2017-08-09 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.519583
Name: 2017-08-10 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.509583
Name: 2017-08-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.308333
Level (m)                   1.507917
Name: 2017-08-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.508333
Level (m)                   1.511250
Name: 2017-08-13 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.515833
Name: 2017-08-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.216667
Level (m)                   1.514167
Name: 2017-08-15 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.4500
Level (m)                   1.5125
Name: 2017-08-16 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.025000
Level (m)                   1.540833
Name: 2017-08-17 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    2.308333
Level (m)                   1.590000
Name: 2017-08-18 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    2.583333
Level (m)                   1.599583
Name: 2017-08-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.616667
Level (m)                   1.557500
Name: 2017-08-20 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.408333
Level (m)                   1.540833
Name: 2017-08-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.325000
Level (m)                   1.543333
Name: 2017-08-22 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    1.800000
Level (m)                   1.562917
Name: 2017-08-23 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    2.375000
Level (m)                   1.612917
Name: 2017-08-24 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.150000
Level (m)                   1.564167
Name: 2017-08-25 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.537917
Name: 2017-08-26 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    1.825000
Level (m)                   1.588333
Name: 2017-08-27 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.150000
Level (m)                   1.595417
Name: 2017-08-28 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.10000
Level (m)                   1.55375
Name: 2017-08-29 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.641667
Level (m)                   1.538333
Name: 2017-08-30 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.483333
Level (m)                   1.530417
Name: 2017-08-31 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.07500
Level (m)                   1.52625
Name: 2017-09-01 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.016667
Level (m)                   1.515417
Name: 2017-09-02 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.075
Level (m)                   1.510
Name: 2017-09-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.504583
Name: 2017-09-04 00:00:00, dtype: float64
Current rainfall (mm)       0.500000
Cumulative rainfall (mm)    1.083333
Level (m)                   1.518750
Name: 2017-09-05 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.866667
Level (m)                   1.580833
Name: 2017-09-06 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    0.566667
Level (m)                   1.550000
Name: 2017-09-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.675000
Level (m)                   1.532083
Name: 2017-09-08 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.075
Level (m)                   1.530
Name: 2017-09-09 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.51875
Name: 2017-09-10 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.51
Name: 2017-09-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.008333
Level (m)                   1.519583
Name: 2017-09-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.675000
Level (m)                   1.526667
Name: 2017-09-13 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.524583
Name: 2017-09-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.408333
Level (m)                   1.536667
Name: 2017-09-15 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    2.200000
Level (m)                   1.620000
Name: 2017-09-16 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.07500
Level (m)                   1.55875
Name: 2017-09-17 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.066667
Level (m)                   1.525417
Name: 2017-09-18 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.233333
Level (m)                   1.508750
Name: 2017-09-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.075
Level (m)                   1.500
Name: 2017-09-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.492917
Name: 2017-09-21 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2017-09-22 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2017-09-23 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2017-09-24 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.216667
Level (m)                   1.500417
Name: 2017-09-25 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.15
Level (m)                   1.50
Name: 2017-09-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.497083
Name: 2017-09-27 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.116667
Level (m)                   1.500000
Name: 2017-09-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.083333
Level (m)                   1.500000
Name: 2017-09-29 00:00:00, dtype: float64

Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.100000
Level (m)                   1.499583
Name: 2017-09-30 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.072727
Level (m)                   1.496818
Name: 2017-10-01 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.495417
Name: 2017-10-02 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.5
Name: 2017-10-03 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.49875
Name: 2017-10-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.495833
Name: 2017-10-05 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.133333
Level (m)                   1.493333
Name: 2017-10-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.489583
Name: 2017-10-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.741667
Level (m)                   1.505417
Name: 2017-10-08 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    2.591667
Level (m)                   1.582917
Name: 2017-10-09 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.534583
Name: 2017-10-10 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.883333
Level (m)                   1.522083
Name: 2017-10-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    3.500000
Level (m)                   1.642917
Name: 2017-10-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.542917
Name: 2017-10-13 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.50625
Name: 2017-10-14 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2017-10-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.481739
Name: 2017-10-16 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.474167
Name: 2017-10-17 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.469167
Name: 2017-10-18 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.400000
Level (m)                   1.479583
Name: 2017-10-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.333333
Level (m)                   1.479167
Name: 2017-10-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.025000
Level (m)                   1.475417
Name: 2017-10-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.141667
Level (m)                   1.472083
Name: 2017-10-22 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.083333
Level (m)                   1.470000
Name: 2017-10-23 00:00:00, dtype: float64
Current rainfall (mm)       0.416667
Cumulative rainfall (mm)    1.050000
Level (m)                   1.500833
Name: 2017-10-24 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    7.066667
Level (m)                   1.766250
Name: 2017-10-25 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.57375
Name: 2017-10-26 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.52
Name: 2017-10-27 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.501667
Name: 2017-10-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.485
Name: 2017-10-29 00:00:00, dtype: float64
Current rainfall (mm)       0.750000
Cumulative rainfall (mm)    2.700000
Level (m)                   1.567917
Name: 2017-10-30 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    2.113043
Level (m)                   1.594348
Name: 2017-10-31 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.529167
Name: 2017-11-01 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    0.258333
Level (m)                   1.523750
Name: 2017-11-02 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.058333
Level (m)                   1.515417
Name: 2017-11-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.083333
Level (m)                   1.503750
Name: 2017-11-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.489583
Name: 2017-11-05 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.48
Name: 2017-11-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.116667
Level (m)                   1.484167
Name: 2017-11-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.083333
Level (m)                   1.476250
Name: 2017-11-08 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.47
Name: 2017-11-09 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.470833
Name: 2017-11-10 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.475417
Name: 2017-11-11 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.4675
Name: 2017-11-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.469583
Name: 2017-11-13 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.462917
Name: 2017-11-14 00:00:00, dtype: float64
Current rainfall (mm)       0.173913
Cumulative rainfall (mm)    0.165217
Level (m)                   1.459565
Name: 2017-11-15 00:00:00, dtype: float64
Current rainfall (mm)       0.333333
Cumulative rainfall (mm)    3.966667
Level (m)                   1.587500
Name: 2017-11-16 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    3.30
Level (m)                   1.64
Name: 2017-11-17 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    0.533333
Level (m)                   1.544167
Name: 2017-11-18 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.675000
Level (m)                   1.534167
Name: 2017-11-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.506667
Name: 2017-11-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.481667
Name: 2017-11-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.464167
Name: 2017-11-22 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.500000
Level (m)                   1.475833
Name: 2017-11-23 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.640000
Level (m)                   1.496296
Name: 2017-11-24 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2017-11-25 00:00:00, dtype: float64

Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    3.158333
Level (m)                   1.626667
Name: 2017-11-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.500000
Level (m)                   1.567917
Name: 2017-11-27 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.509583
Name: 2017-11-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.480833
Name: 2017-11-29 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.465
Name: 2017-11-30 00:00:00, dtype: float64
Current rainfall (mm)       0.500000
Cumulative rainfall (mm)    6.366667
Level (m)                   1.672917
Name: 2017-12-01 00:00:00, dtype: float64
Current rainfall (mm)        1.250000
Cumulative rainfall (mm)    10.558333
Level (m)                    1.817500
Name: 2017-12-02 00:00:00, dtype: float64
Current rainfall (mm)        0.166667
Cumulative rainfall (mm)    11.450000
Level (m)                    1.873333
Name: 2017-12-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    3.216667
Level (m)                   1.653750
Name: 2017-12-04 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.56
Name: 2017-12-05 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.528333
Name: 2017-12-06 00:00:00, dtype: float64
Current rainfall (mm)       1.500000
Cumulative rainfall (mm)    2.266667
Level (m)                   1.596250
Name: 2017-12-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    5.433333
Level (m)                   1.762917
Name: 2017-12-08 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.083333
Level (m)                   1.580833
Name: 2017-12-09 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.531667
Name: 2017-12-10 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.51375
Name: 2017-12-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.500417
Name: 2017-12-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.493333
Name: 2017-12-13 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.480417
Name: 2017-12-14 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.48
Name: 2017-12-15 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.4775
Name: 2017-12-16 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.470833
Name: 2017-12-17 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.47125
Name: 2017-12-18 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.058333
Level (m)                   1.478750
Name: 2017-12-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.183333
Level (m)                   1.475417
Name: 2017-12-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.083333
Level (m)                   1.466250
Name: 2017-12-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.468333
Name: 2017-12-22 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.47
Name: 2017-12-23 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.091667
Level (m)                   1.483750
Name: 2017-12-24 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.480417
Name: 2017-12-25 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.473333
Name: 2017-12-26 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.46625
Name: 2017-12-27 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.041667
Level (m)                   1.467083
Name: 2017-12-28 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    2.183333
Level (m)                   1.522917
Name: 2017-12-29 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    2.933333
Level (m)                   1.570833
Name: 2017-12-30 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.166667
Level (m)                   1.533750
Name: 2017-12-31 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.5075
Name: 2018-01-01 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.5
Name: 2018-01-02 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.495833
Name: 2018-01-03 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2018-01-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.487917
Name: 2018-01-05 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.477917
Name: 2018-01-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.479231
Name: 2018-01-07 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.48
Name: 2018-01-08 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.480833
Name: 2018-01-09 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.48
Name: 2018-01-10 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.48
Name: 2018-01-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.783333
Level (m)                   1.494583
Name: 2018-01-12 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    3.791667
Level (m)                   1.558333
Name: 2018-01-13 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    4.750000
Level (m)                   1.610417
Name: 2018-01-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.086957
Level (m)                   1.550000
Name: 2018-01-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.520417
Name: 2018-01-16 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.505417
Name: 2018-01-17 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.49375
Name: 2018-01-18 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.483478
Name: 2018-01-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.480833
Name: 2018-01-20 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.48375
Name: 2018-01-21 00:00:00, dtype: float64

Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.482273
Name: 2018-01-22 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.48
Name: 2018-01-23 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.48
Name: 2018-01-24 00:00:00, dtype: float64
Current rainfall (mm)       1.250000
Cumulative rainfall (mm)    0.125000
Level (m)                   1.480833
Name: 2018-01-25 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    3.091667
Level (m)                   1.608333
Name: 2018-01-26 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    1.00
Level (m)                   1.57
Name: 2018-01-27 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.524583
Name: 2018-01-28 00:00:00, dtype: float64
Current rainfall (mm)       1.250000
Cumulative rainfall (mm)    5.275000
Level (m)                   1.640417
Name: 2018-01-29 00:00:00, dtype: float64
Current rainfall (mm)        0.500000
Cumulative rainfall (mm)    18.675000
Level (m)                    1.957083
Name: 2018-01-30 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.600833
Name: 2018-01-31 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.534583
Name: 2018-02-01 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.502083
Name: 2018-02-02 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.478333
Name: 2018-02-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.465417
Name: 2018-02-04 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.46
Name: 2018-02-05 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.504583
Name: 2018-02-06 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2018-02-07 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.4775
Name: 2018-02-08 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.47
Name: 2018-02-09 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.47
Name: 2018-02-10 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.46625
Name: 2018-02-11 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.46125
Name: 2018-02-12 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.46
Name: 2018-02-13 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.455833
Name: 2018-02-14 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.45
Name: 2018-02-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.450417
Name: 2018-02-16 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.45
Name: 2018-02-17 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.450417
Name: 2018-02-18 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.46
Name: 2018-02-19 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.46
Name: 2018-02-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.457083
Name: 2018-02-21 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.46
Name: 2018-02-22 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.47500
Level (m)                   1.47875
Name: 2018-02-23 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.416667
Level (m)                   1.490000
Name: 2018-02-24 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.025000
Level (m)                   1.482083
Name: 2018-02-25 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.083333
Level (m)                   1.480000
Name: 2018-02-26 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.48
Name: 2018-02-27 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.479167
Name: 2018-02-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.500000
Level (m)                   1.492083
Name: 2018-03-01 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.416667
Level (m)                   1.497500
Name: 2018-03-02 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.498333
Name: 2018-03-03 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.5
Name: 2018-03-04 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.49875
Name: 2018-03-05 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2018-03-06 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.49625
Name: 2018-03-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.497917
Name: 2018-03-08 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.49125
Name: 2018-03-09 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.495
Name: 2018-03-10 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.490417
Name: 2018-03-11 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2018-03-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.494167
Name: 2018-03-13 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.499167
Name: 2018-03-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.490833
Name: 2018-03-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.490435
Name: 2018-03-16 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.492917
Name: 2018-03-17 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.108333
Level (m)                   1.488750
Name: 2018-03-18 00:00:00, dtype: float64

Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.083333
Level (m)                   1.490000
Name: 2018-03-19 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2018-03-20 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2018-03-21 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2018-03-22 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2018-03-23 00:00:00, dtype: float64
Current rainfall (mm)       0.833333
Cumulative rainfall (mm)    7.908333
Level (m)                   1.617917
Name: 2018-03-24 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    6.825000
Level (m)                   1.599167
Name: 2018-03-25 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    1.75
Level (m)                   1.60
Name: 2018-03-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.549167
Name: 2018-03-27 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.520417
Name: 2018-03-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.510833
Name: 2018-03-29 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.51
Name: 2018-03-30 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.51
Name: 2018-03-31 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.509167
Name: 2018-04-01 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.51
Name: 2018-04-02 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.51
Name: 2018-04-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.509167
Name: 2018-04-04 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.51
Name: 2018-04-05 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.51
Name: 2018-04-06 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.51
Name: 2018-04-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.505417
Name: 2018-04-08 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.507917
Name: 2018-04-09 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.116667
Level (m)                   1.510000
Name: 2018-04-10 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.083333
Level (m)                   1.510417
Name: 2018-04-11 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.51
Name: 2018-04-12 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.51
Name: 2018-04-13 00:00:00, dtype: float64
Current rainfall (mm)       0.173913
Cumulative rainfall (mm)    3.017391
Level (m)                   1.569130
Name: 2018-04-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    3.200000
Level (m)                   1.591667
Name: 2018-04-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.666667
Level (m)                   1.559167
Name: 2018-04-16 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.536667
Name: 2018-04-17 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.520833
Name: 2018-04-18 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.5175
Name: 2018-04-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.512083
Name: 2018-04-20 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.51
Name: 2018-04-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.510417
Name: 2018-04-22 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.51
Name: 2018-04-23 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.51
Name: 2018-04-24 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.51
Name: 2018-04-25 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.51
Name: 2018-04-26 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.51
Name: 2018-04-27 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.513333
Name: 2018-04-28 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.52625
Name: 2018-04-29 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.512917
Name: 2018-04-30 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.509583
Name: 2018-05-01 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.5
Name: 2018-05-02 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.041667
Level (m)                   1.500417
Name: 2018-05-03 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.983333
Level (m)                   1.538750
Name: 2018-05-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.250000
Level (m)                   1.529167
Name: 2018-05-05 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.083333
Level (m)                   1.520000
Name: 2018-05-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.512083
Name: 2018-05-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.066667
Level (m)                   1.510000
Name: 2018-05-08 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.22500
Level (m)                   1.51625
Name: 2018-05-09 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    2.708333
Level (m)                   1.605833
Name: 2018-05-10 00:00:00, dtype: float64
Current rainfall (mm)       1.083333
Cumulative rainfall (mm)    7.766667
Level (m)                   1.904583
Name: 2018-05-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    3.883333
Level (m)                   1.668750
Name: 2018-05-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.583333
Level (m)                   1.590000
Name: 2018-05-13 00:00:00, dtype: float64

Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.532083
Name: 2018-05-14 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.000000
Level (m)                   1.530000
Name: 2018-05-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.391667
Level (m)                   1.560833
Name: 2018-05-16 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.535417
Name: 2018-05-17 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.5025
Name: 2018-05-18 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.500833
Name: 2018-05-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.133333
Level (m)                   1.495417
Name: 2018-05-20 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.67500
Level (m)                   1.51625
Name: 2018-05-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.166667
Level (m)                   1.517083
Name: 2018-05-22 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.083333
Level (m)                   1.510000
Name: 2018-05-23 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.50875
Name: 2018-05-24 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.507083
Name: 2018-05-25 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.51
Name: 2018-05-26 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.51
Name: 2018-05-27 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.51
Name: 2018-05-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.300000
Level (m)                   1.525833
Name: 2018-05-29 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    0.625000
Level (m)                   1.531667
Name: 2018-05-30 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    2.150000
Level (m)                   1.587083
Name: 2018-05-31 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.083333
Level (m)                   1.545833
Name: 2018-06-01 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.086957
Level (m)                   1.514348
Name: 2018-06-02 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.500417
Name: 2018-06-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.091667
Level (m)                   1.501667
Name: 2018-06-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.566667
Level (m)                   1.517917
Name: 2018-06-05 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.512083
Name: 2018-06-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.083333
Level (m)                   1.495833
Name: 2018-06-07 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2018-06-08 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.058333
Level (m)                   1.490000
Name: 2018-06-09 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.083333
Level (m)                   1.480833
Name: 2018-06-10 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.008333
Level (m)                   1.480000
Name: 2018-06-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.166667
Level (m)                   1.490000
Name: 2018-06-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.133333
Level (m)                   1.488333
Name: 2018-06-13 00:00:00, dtype: float64
Current rainfall (mm)       0.666667
Cumulative rainfall (mm)    0.475000
Level (m)                   1.490000
Name: 2018-06-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.516667
Level (m)                   1.555000
Name: 2018-06-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.666667
Level (m)                   1.555417
Name: 2018-06-16 00:00:00, dtype: float64
Current rainfall (mm)       1.416667
Cumulative rainfall (mm)    6.233333
Level (m)                   1.892500
Name: 2018-06-17 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    6.191667
Level (m)                   1.834583
Name: 2018-06-18 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.166667
Level (m)                   1.615000
Name: 2018-06-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.075
Level (m)                   1.555
Name: 2018-06-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.083333
Level (m)                   1.540833
Name: 2018-06-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.540417
Name: 2018-06-22 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.515833
Name: 2018-06-23 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.48875
Name: 2018-06-24 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.48
Name: 2018-06-25 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.474167
Name: 2018-06-26 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.47
Name: 2018-06-27 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.016667
Level (m)                   1.472083
Name: 2018-06-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.515
Name: 2018-06-29 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.495
Name: 2018-06-30 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.473333
Name: 2018-07-01 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.47
Name: 2018-07-02 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.47
Name: 2018-07-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.465417
Name: 2018-07-04 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.47
Name: 2018-07-05 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.116667
Level (m)                   1.470000
Name: 2018-07-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.583333
Level (m)                   1.500000
Name: 2018-07-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.166667
Level (m)                   1.524583
Name: 2018-07-08 00:00:00, dtype: float64

Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.534167
Name: 2018-07-09 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.489167
Name: 2018-07-10 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.441667
Level (m)                   1.523750
Name: 2018-07-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.666667
Level (m)                   1.545417
Name: 2018-07-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.515
Name: 2018-07-13 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.484167
Name: 2018-07-14 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.47375
Name: 2018-07-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.033333
Level (m)                   1.470000
Name: 2018-07-16 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.500000
Level (m)                   1.487083
Name: 2018-07-17 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.750000
Level (m)                   1.502083
Name: 2018-07-18 00:00:00, dtype: float64
Current rainfall (mm)       0.250000
Cumulative rainfall (mm)    0.491667
Level (m)                   1.526667
Name: 2018-07-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.083333
Level (m)                   1.550000
Name: 2018-07-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.083333
Level (m)                   1.519583
Name: 2018-07-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.091667
Level (m)                   1.491667
Name: 2018-07-22 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.208333
Level (m)                   1.483750
Name: 2018-07-23 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    2.216667
Level (m)                   1.535000
Name: 2018-07-24 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    2.666667
Level (m)                   1.586250
Name: 2018-07-25 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.175000
Level (m)                   1.524167
Name: 2018-07-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.083333
Level (m)                   1.495000
Name: 2018-07-27 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.191667
Level (m)                   1.489167
Name: 2018-07-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.116667
Level (m)                   1.547917
Name: 2018-07-29 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.10
Level (m)                   1.52
Name: 2018-07-30 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.158333
Level (m)                   1.495833
Name: 2018-07-31 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.22500
Level (m)                   1.49375
Name: 2018-08-01 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.083333
Level (m)                   1.490000
Name: 2018-08-02 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.325000
Level (m)                   1.499167
Name: 2018-08-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.666667
Level (m)                   1.512500
Name: 2018-08-04 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.506667
Name: 2018-08-05 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.492917
Name: 2018-08-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.490417
Name: 2018-08-07 00:00:00, dtype: float64
Current rainfall (mm)       0.583333
Cumulative rainfall (mm)    0.825000
Level (m)                   1.518333
Name: 2018-08-08 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.666667
Level (m)                   1.532500
Name: 2018-08-09 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.512083
Name: 2018-08-10 00:00:00, dtype: float64
Current rainfall (mm)       0.333333
Cumulative rainfall (mm)    1.491667
Level (m)                   1.647917
Name: 2018-08-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.916667
Level (m)                   1.592917
Name: 2018-08-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.533333
Name: 2018-08-13 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.510833
Name: 2018-08-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.500833
Name: 2018-08-15 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.5
Name: 2018-08-16 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.494583
Name: 2018-08-17 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    1.091667
Level (m)                   1.517500
Name: 2018-08-18 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    2.208333
Level (m)                   1.592500
Name: 2018-08-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.400
Level (m)                   1.555
Name: 2018-08-20 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.51875
Name: 2018-08-21 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.5075
Name: 2018-08-22 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.5
Name: 2018-08-23 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.499167
Name: 2018-08-24 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.537083
Name: 2018-08-25 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.041667
Level (m)                   1.584167
Name: 2018-08-26 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.700000
Level (m)                   1.594583
Name: 2018-08-27 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.416667
Level (m)                   1.560417
Name: 2018-08-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.515833
Name: 2018-08-29 00:00:00, dtype: float64
Current rainfall (mm)       0.083333
Cumulative rainfall (mm)    0.341667
Level (m)                   1.507500
Name: 2018-08-30 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.966667
Level (m)                   1.518750
Name: 2018-08-31 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.033333
Level (m)                   1.527083
Name: 2018-09-01 00:00:00, dtype: float64

Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.575000
Level (m)                   1.527917
Name: 2018-09-02 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.083333
Level (m)                   1.515417
Name: 2018-09-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.504583
Name: 2018-09-04 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.5
Name: 2018-09-05 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.083333
Level (m)                   1.500000
Name: 2018-09-06 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.083333
Level (m)                   1.500000
Name: 2018-09-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.494583
Name: 2018-09-08 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.494167
Name: 2018-09-09 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2018-09-10 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2018-09-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.490833
Name: 2018-09-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.489583
Name: 2018-09-13 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.490417
Name: 2018-09-14 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.666667
Level (m)                   1.512083
Name: 2018-09-15 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.916667
Level (m)                   1.536667
Name: 2018-09-16 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.51875
Name: 2018-09-17 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.10000
Level (m)                   1.50375
Name: 2018-09-18 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.641667
Level (m)                   1.516667
Name: 2018-09-19 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.503333
Name: 2018-09-20 00:00:00, dtype: float64
Current rainfall (mm)       0.0
Cumulative rainfall (mm)    0.0
Level (m)                   1.5
Name: 2018-09-21 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.4975
Name: 2018-09-22 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.075000
Level (m)                   1.497083
Name: 2018-09-23 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.083333
Level (m)                   1.490417
Name: 2018-09-24 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2018-09-25 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2018-09-26 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2018-09-27 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.058333
Level (m)                   1.490000
Name: 2018-09-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.183333
Level (m)                   1.489583
Name: 2018-09-29 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.083333
Level (m)                   1.487083
Name: 2018-09-30 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.489167
Name: 2018-10-01 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.48375
Name: 2018-10-02 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2018-10-03 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.4875
Name: 2018-10-04 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2018-10-05 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2018-10-06 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2018-10-07 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.492917
Name: 2018-10-08 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    0.983333
Level (m)                   1.517917
Name: 2018-10-09 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    1.000000
Level (m)                   1.514167
Name: 2018-10-10 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.504583
Name: 2018-10-11 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.508333
Name: 2018-10-12 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.495
Name: 2018-10-13 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2018-10-14 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.4875
Name: 2018-10-15 00:00:00, dtype: float64
Current rainfall (mm)       0.500000
Cumulative rainfall (mm)    3.091667
Level (m)                   1.567500
Name: 2018-10-16 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    5.116667
Level (m)                   1.669167
Name: 2018-10-17 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.433333
Level (m)                   1.562083
Name: 2018-10-18 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.5275
Name: 2018-10-19 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    2.958333
Level (m)                   1.653333
Name: 2018-10-20 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    2.333333
Level (m)                   1.632083
Name: 2018-10-21 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.548333
Name: 2018-10-22 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.514167
Name: 2018-10-23 00:00:00, dtype: float64
Current rainfall (mm)       0.0000
Cumulative rainfall (mm)    0.0000
Level (m)                   1.5025
Name: 2018-10-24 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.494167
Name: 2018-10-25 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2018-10-26 00:00:00, dtype: float64

Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2018-10-27 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.48875
Name: 2018-10-28 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.482174
Name: 2018-10-29 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.48375
Name: 2018-10-30 00:00:00, dtype: float64
Current rainfall (mm)       0.000
Cumulative rainfall (mm)    0.000
Level (m)                   1.485
Name: 2018-10-31 00:00:00, dtype: float64
Current rainfall (mm)       0.00
Cumulative rainfall (mm)    0.00
Level (m)                   1.49
Name: 2018-11-01 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.008333
Level (m)                   1.489583
Name: 2018-11-02 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.481667
Name: 2018-11-03 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.000000
Level (m)                   1.484167
Name: 2018-11-04 00:00:00, dtype: float64
Current rainfall (mm)       0.166667
Cumulative rainfall (mm)    0.625000
Level (m)                   1.526667
Name: 2018-11-05 00:00:00, dtype: float64
Current rainfall (mm)        1.333333
Cumulative rainfall (mm)    10.416667
Level (m)                    1.758750
Name: 2018-11-06 00:00:00, dtype: float64
Current rainfall (mm)       0.750000
Cumulative rainfall (mm)    8.650000
Level (m)                   1.654167
Name: 2018-11-07 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    1.50000
Level (m)                   1.59125
Name: 2018-11-08 00:00:00, dtype: float64
Current rainfall (mm)       0.016667
Cumulative rainfall (mm)    0.408333
Level (m)                   1.545000
Name: 2018-11-09 00:00:00, dtype: float64
Current rainfall (mm)       0.000000
Cumulative rainfall (mm)    0.833333
Level (m)                   1.550833
Name: 2018-11-10 00:00:00, dtype: float64
Current rainfall (mm)       0.00000
Cumulative rainfall (mm)    0.00000
Level (m)                   1.52125
Name: 2018-11-11 00:00:00, dtype: float64

[[1.3775000000000002,
  1.45757243343574,
  0.7869047619047619,
  0.47619047619047616],
 [1.3775000000000002,
  1.45757243343574,
  1.0654761904761905,
  0.13333333333333333],
 [1.3775000000000002, 1.45757243343574, 0.930952380952381, 0.4440476190476191],
 [1.3775000000000002, 1.45757243343574, 1.005952380952381, 0.8404761904761905],
 [1.3775000000000002, 1.45757243343574, 1.005952380952381, 0.8404761904761905],
 [1.3775000000000002, 1.45757243343574, 1.005952380952381, 0.8404761904761905],
 [1.3775000000000002, 1.45757243343574, 1.005952380952381, 0.8404761904761905],
 [1.3775000000000002,
  1.45757243343574,
  0.47619047619047616,
  0.8404761904761905],
 [1.3775000000000002,
  1.45757243343574,
  0.13333333333333333,
  0.8404761904761905],
 [1.3775000000000002, 1.45757243343574, 0.4440476190476191, 0.675],
 [1.3775000000000002,
  1.45757243343574,
  0.8404761904761905,
  0.5678571428571428],
 [1.3775000000000002,
  1.45757243343574,
  0.8404761904761905,
  0.5678571428571428],
 [1.3775000000000002,
  1.45757243343574,
  0.8404761904761905,
  0.5678571428571428],
 [1.3775000000000002,
  1.45757243343574,
  0.8404761904761905,
  0.5678571428571428],
 [1.3775000000000002,
  1.45757243343574,
  0.8404761904761905,
  0.5678571428571428],
 [1.3775000000000002,
  1.45757243343574,
  0.8404761904761905,
  0.5678571428571428],
 [1.3775000000000002, 1.45757243343574, 0.675, 0.4119047619047619],
 [1.3775000000000002,
  1.45757243343574,
  0.5678571428571428,
  0.5964285714285714],
 [1.3775000000000002, 1.45757243343574, 0.5678571428571428, 1.042857142857143],
 [1.3775000000000002,
  1.45757243343574,
  0.5678571428571428,
  1.0535714285714286],
 [1.3775000000000002,
  1.45757243343574,
  0.5678571428571428,
  1.0535714285714286],
 [1.3775000000000002,
  1.45757243343574,
  0.5678571428571428,
  1.0535714285714286],
 [1.3775000000000002,
  1.45757243343574,
  0.5678571428571428,
  1.0535714285714286],
 [1.3775000000000002, 1.45757243343574, 0.4119047619047619, 1.005952380952381],
 [1.3775000000000002,
  1.45757243343574,
  0.5964285714285714,
  0.4571428571428572],
 [1.3775000000000002,
  1.45757243343574,
  1.042857142857143,
  0.010714285714285714],
 [1.3775000000000002, 1.45757243343574, 1.0535714285714286, 0.0],
 [1.3775000000000002, 1.45757243343574, 1.0535714285714286, 0.0],
 [1.3775000000000002, 1.45757243343574, 1.0535714285714286, 0.0],
 [1.3775000000000002,
  1.45757243343574,
  1.0535714285714286,
  0.010714285714285714],
 [1.3775000000000002,
  1.4413293957892934,
  1.005952380952381,
  0.02142857142857143],
 [1.3775000000000002,
  1.4413293957892934,
  0.4571428571428572,
  0.02142857142857143],
 [1.3775000000000002,
  1.4413293957892934,
  0.010714285714285714,
  0.02142857142857143],
 [1.3775000000000002, 1.4413293957892934, 0.0, 0.02142857142857143],
 [1.3775000000000002, 1.4413293957892934, 0.0, 0.06666666666666667],
 [1.3775000000000002, 1.4413293957892934, 0.0, 0.0988095238095238],
 [1.3775000000000002,
  1.4413293957892934,
  0.010714285714285714,
  0.0880952380952381],
 [1.3775000000000002,
  1.4413293957892934,
  0.02142857142857143,
  0.0773809523809524],
 [1.3775000000000002,
  1.4413293957892934,
  0.02142857142857143,
  0.0773809523809524],
 [1.3775000000000002,
  1.4413293957892934,
  0.02142857142857143,
  0.0773809523809524],
 [1.3775000000000002,
  1.4413293957892934,
  0.02142857142857143,
  0.0773809523809524],
 [1.3775000000000002,
  1.4413293957892934,
  0.06666666666666667,
  0.03214285714285714],
 [1.3775000000000002, 1.4413293957892934, 0.0988095238095238, 0.0],
 [1.3775000000000002, 1.4413293957892934, 0.0880952380952381, 0.0],
 [1.3775000000000002, 1.4413293957892934, 0.0773809523809524, 0.0],
 [1.3775000000000002, 1.4413293957892934, 0.0773809523809524, 0.0],
 [1.3775000000000002, 1.4413293957892934, 0.0773809523809524, 0.0],
 [1.3775000000000002,
  1.4413293957892934,
  0.0773809523809524,
  0.007142857142857144],
 [1.3775000000000002,
  1.4413293957892934,
  0.03214285714285714,
  0.017857142857142856],
 [1.3775000000000002, 1.4413293957892934, 0.0, 0.017857142857142856],
 [1.3775000000000002, 1.4413293957892934, 0.0, 0.017857142857142856],
 [1.3775000000000002, 1.4413293957892934, 0.0, 0.4214285714285714],
 [1.3775000000000002, 1.4413293957892934, 0.0, 0.8607142857142857],
 [1.3775000000000002, 1.4413293957892934, 0.0, 0.8607142857142857],
 [1.3775000000000002,
  1.4413293957892934,
  0.007142857142857144,
  0.8535714285714285],
 [1.3775000000000002,
  1.4413293957892934,
  0.017857142857142856,
  0.8428571428571427],
 [1.3775000000000002,
  1.4413293957892934,
  0.017857142857142856,
  0.8428571428571427],
 [1.3775000000000002,
  1.4413293957892934,
  0.017857142857142856,
  0.8547619047619046],
 [1.3775000000000002,
  1.4413293957892934,
  0.4214285714285714,
  1.6452380952380952],
 [1.3775000000000002,
  1.4413293957892934,
  0.8607142857142857,
  2.8059523809523808],
 [1.3775000000000002,
  1.4413293957892934,
  0.8607142857142857,
  2.8059523809523808],
 [1.3775000000000002,
  1.4147393096011667,
  0.8535714285714285,
  2.8059523809523808],
 [1.3775000000000002,
  1.4147393096011667,
  0.8428571428571427,
  2.8059523809523808],
 [1.3775000000000002,
  1.4147393096011667,
  0.8428571428571427,
  2.8059523809523808],
 [1.3775000000000002,
  1.4147393096011667,
  0.8547619047619046,
  2.794047619047619],
 [1.3775000000000002, 1.4147393096011667, 1.6452380952380952, 1.6],
 [1.3775000000000002, 1.4147393096011667, 2.8059523809523808, 0.0],
 [1.3775000000000002, 1.4147393096011667, 2.8059523809523808, 0.0],
 [1.3775000000000002, 1.4147393096011667, 2.8059523809523808, 0.0],
 [1.3775000000000002, 1.4147393096011667, 2.8059523809523808, 0.0],
 [1.3775000000000002, 1.4147393096011667, 2.8059523809523808, 0.0],
 [1.3775000000000002, 1.4147393096011667, 2.794047619047619, 0.0],
 [1.3775000000000002, 1.4147393096011667, 1.6, 0.0],
 [1.3775000000000002, 1.4147393096011667, 0.0, 0.0],
 [1.3775000000000002, 1.4147393096011667, 0.0, 0.0],
 [1.3775000000000002, 1.4147393096011667, 0.0, 0.0],
 [1.3775000000000002, 1.4147393096011667, 0.0, 0.02142857142857143],
 [1.3775000000000002, 1.4147393096011667, 0.0, 0.02142857142857143],
 [1.3775000000000002, 1.4147393096011667, 0.0, 0.02142857142857143],
 [1.3775000000000002, 1.4147393096011667, 0.0, 0.02142857142857143],
 [1.3775000000000002, 1.4147393096011667, 0.0, 0.02142857142857143],
 [1.3775000000000002, 1.4147393096011667, 0.0, 0.9333333333333333],
 [1.3775000000000002, 1.4147393096011667, 0.0, 2.5095238095238095],
 [1.3775000000000002,
  1.4147393096011667,
  0.02142857142857143,
  3.869047619047618],
 [1.3775000000000002,
  1.4147393096011667,
  0.02142857142857143,
  4.032142857142857],
 [1.3775000000000002,
  1.4147393096011667,
  0.02142857142857143,
  4.036904761904761],
 [1.3775000000000002,
  1.4147393096011667,
  0.02142857142857143,
  4.047619047619047],
 [1.3775000000000002,
  1.4147393096011667,
  0.02142857142857143,
  4.047619047619047],
 [1.3775000000000002,
  1.4147393096011667,
  0.9333333333333333,
  3.1357142857142857],
 [1.3775000000000002,
  1.436464822613609,
  2.5095238095238095,
  1.5595238095238095],
 [1.3775000000000002,
  1.436464822613609,
  3.869047619047618,
  0.17857142857142858],
 [1.3775000000000002,
  1.436464822613609,
  4.032142857142857,
  0.015476190476190477],
 [1.3775000000000002,
  1.436464822613609,
  4.036904761904761,
  0.010714285714285714],
 [1.3775000000000002, 1.436464822613609, 4.047619047619047, 0.0],
 [1.3775000000000002, 1.436464822613609, 4.047619047619047, 0.0],
 [1.3775000000000002, 1.436464822613609, 3.1357142857142857, 0.0],
 [1.3775000000000002, 1.436464822613609, 1.5595238095238095, 0.0],
 [1.3775000000000002, 1.436464822613609, 0.17857142857142858, 0.0],
 [1.3775000000000002, 1.436464822613609, 0.015476190476190477, 0.0],
 [1.3775000000000002, 1.436464822613609, 0.010714285714285714, 0.0],
 [1.3775000000000002, 1.436464822613609, 0.0, 0.0],
 [1.3775000000000002, 1.436464822613609, 0.0, 0.0],
 [1.3775000000000002, 1.436464822613609, 0.0, 0.0],
 [1.3775000000000002, 1.436464822613609, 0.0, 0.014285714285714289],
 [1.3775000000000002, 1.436464822613609, 0.0, 0.41071428571428575],
 [1.3775000000000002, 1.436464822613609, 0.0, 0.5821428571428572],
 [1.3775000000000002, 1.436464822613609, 0.0, 0.5821428571428572],
 [1.3775000000000002, 1.436464822613609, 0.0, 0.5821428571428572],
 [1.3775000000000002, 1.436464822613609, 0.0, 0.5821428571428572],
 [1.3775000000000002, 1.436464822613609, 0.0, 0.5821428571428572],
 [1.3775000000000002,
  1.436464822613609,
  0.014285714285714289,
  0.567857142857143],
 [1.3775000000000002,
  1.436464822613609,
  0.41071428571428575,
  0.17142857142857143],
 [1.3775000000000002,
  1.436464822613609,
  0.5821428571428572,
  0.027380952380952377],
 [1.3775000000000002,
  1.436464822613609,
  0.5821428571428572,
  0.7023809523809524],
 [1.3775000000000002,
  1.436464822613609,
  0.5821428571428572,
  0.7130952380952381],
 [1.3775000000000002,
  1.436464822613609,
  0.5821428571428572,
  0.7130952380952381],
 [1.3775000000000002,
  1.436464822613609,
  0.5821428571428572,
  0.7190476190476192],
 [1.3775000000000002, 1.436464822613609, 0.567857142857143, 0.811904761904762],
 [1.3775000000000002,
  1.436464822613609,
  0.17142857142857143,
  0.8666666666666669],
 [1.3775000000000002,
  1.436464822613609,
  0.027380952380952377,
  0.860714285714286],
 [1.3775000000000002,
  1.4605982538945632,
  0.7023809523809524,
  0.18571428571428572],
 [1.3775000000000002, 1.4605982538945632, 0.7130952380952381, 0.175],
 [1.3775000000000002, 1.4605982538945632, 0.7130952380952381, 0.175],
 [1.3775000000000002,
  1.4605982538945632,
  0.7190476190476192,
  0.16904761904761906],
 [1.3775000000000002,
  1.4605982538945632,
  0.811904761904762,
  0.07619047619047618],
 [1.3775000000000002,
  1.4605982538945632,
  0.8666666666666669,
  0.02142857142857143],
 [1.3775000000000002,
  1.4605982538945632,
  0.860714285714286,
  0.04166666666666667],
 [1.3775000000000002,
  1.4605982538945632,
  0.18571428571428572,
  0.1357142857142857],
 [1.3775000000000002, 1.4605982538945632, 0.175, 0.1464285714285714],
 [1.3775000000000002, 1.4605982538945632, 0.175, 0.23928571428571427],
 [1.3775000000000002,
  1.4605982538945632,
  0.16904761904761906,
  0.3904761904761905],
 [1.3775000000000002,
  1.4605982538945632,
  0.07619047619047618,
  0.43690476190476196],
 [1.3775000000000002,
  1.4605982538945632,
  0.02142857142857143,
  0.480952380952381],
 [1.3775000000000002,
  1.4605982538945632,
  0.04166666666666667,
  0.4630952380952381],
 [1.3775000000000002,
  1.4605982538945632,
  0.1357142857142857,
  0.39285714285714285],
 [1.3775000000000002,
  1.4605982538945632,
  0.1464285714285714,
  0.4071428571428571],
 [1.3775000000000002,
  1.4605982538945632,
  0.23928571428571427,
  0.3142857142857142],
 [1.3775000000000002,
  1.4605982538945632,
  0.3904761904761905,
  0.1630952380952381],
 [1.3775000000000002,
  1.4605982538945632,
  0.43690476190476196,
  0.11666666666666667],
 [1.3775000000000002,
  1.4605982538945632,
  0.480952380952381,
  0.07261904761904761],
 [1.3775000000000002,
  1.4605982538945632,
  0.4630952380952381,
  0.27499999999999997],
 [1.3775000000000002,
  1.4605982538945632,
  0.39285714285714285,
  0.5404761904761904],
 [1.3775000000000002,
  1.4605982538945632,
  0.4071428571428571,
  0.5369047619047619],
 [1.3775000000000002,
  1.4605982538945632,
  0.3142857142857142,
  0.6226190476190476],
 [1.3775000000000002,
  1.4605982538945632,
  0.1630952380952381,
  0.8142857142857143],
 [1.3775000000000002,
  1.4605982538945632,
  0.11666666666666667,
  0.8142857142857143],
 [1.3775000000000002,
  1.4605982538945632,
  0.07261904761904761,
  0.8250000000000001],
 [1.3775000000000002,
  1.4605982538945632,
  0.27499999999999997,
  0.6595238095238096],
 [1.3775000000000002,
  1.4605982538945632,
  0.5404761904761904,
  0.37023809523809526],
 [1.3775000000000002,
  1.4605982538945632,
  0.5369047619047619,
  0.35000000000000003],
 [1.3775000000000002, 1.4543055555555555, 0.6226190476190476, 0.275],
 [1.3775000000000002,
  1.4543055555555555,
  0.8142857142857143,
  0.09166666666666666],
 [1.3775000000000002,
  1.4543055555555555,
  0.8142857142857143,
  0.10238095238095236],
 [1.3775000000000002,
  1.4543055555555555,
  0.8250000000000001,
  0.09166666666666666],
 [1.3775000000000002,
  1.4543055555555555,
  0.6595238095238096,
  0.030952380952380953],
 [1.3775000000000002,
  1.4543055555555555,
  0.37023809523809526,
  0.030952380952380953],
 [1.3775000000000002,
  1.4543055555555555,
  0.35000000000000003,
  0.02976190476190476],
 [1.3775000000000002, 1.4543055555555555, 0.275, 0.019047619047619046],
 [1.3775000000000002,
  1.4543055555555555,
  0.09166666666666666,
  0.010714285714285714],
 [1.3775000000000002, 1.4543055555555555, 0.10238095238095236, 0.0],
 [1.3775000000000002,
  1.4543055555555555,
  0.09166666666666666,
  0.06547619047619048],
 [1.3775000000000002,
  1.4543055555555555,
  0.030952380952380953,
  0.34880952380952385],
 [1.3775000000000002,
  1.4543055555555555,
  0.030952380952380953,
  0.41785714285714287],
 [1.3775000000000002,
  1.4543055555555555,
  0.02976190476190476,
  0.567857142857143],
 [1.3775000000000002,
  1.4543055555555555,
  0.019047619047619046,
  0.729761904761905],
 [1.3775000000000002,
  1.4543055555555555,
  0.010714285714285714,
  0.8142857142857144],
 [1.3775000000000002, 1.4543055555555555, 0.0, 0.8273809523809526],
 [1.3775000000000002,
  1.4543055555555555,
  0.06547619047619048,
  0.761904761904762],
 [1.3775000000000002,
  1.4543055555555555,
  0.34880952380952385,
  0.49166666666666675],
 [1.3775000000000002,
  1.4543055555555555,
  0.41785714285714287,
  0.43333333333333346],
 [1.3775000000000002,
  1.4543055555555555,
  0.567857142857143,
  0.2833333333333334],
 [1.3775000000000002,
  1.4543055555555555,
  0.729761904761905,
  0.12142857142857143],
 [1.3775000000000002,
  1.4543055555555555,
  0.8142857142857144,
  0.21547619047619046],
 [1.3775000000000002,
  1.4543055555555555,
  0.8273809523809526,
  0.5464285714285715],
 [1.3775000000000002,
  1.4543055555555555,
  0.761904761904762,
  0.6107142857142858],
 [1.3775000000000002,
  1.4543055555555555,
  0.49166666666666675,
  0.5976190476190476],
 [1.3775000000000002,
  1.4543055555555555,
  0.43333333333333346,
  0.6416666666666667],
 [1.3775000000000002,
  1.4543055555555555,
  0.2833333333333334,
  0.6952380952380953],
 [1.3775000000000002,
  1.4543055555555555,
  0.12142857142857143,
  0.8119047619047619],
 [1.3775000000000002,
  1.4543055555555555,
  0.21547619047619046,
  0.7547619047619047],
 [1.3775000000000002,
  1.4543055555555555,
  0.5464285714285715,
  0.4107142857142857],
 [1.3775000000000002,
  1.4656085269321246,
  0.6107142857142858,
  0.3571428571428572],
 [1.3775000000000002,
  1.4656085269321246,
  0.5976190476190476,
  0.36785714285714294],
 [1.3775000000000002,
  1.4656085269321246,
  0.6416666666666667,
  0.3130952380952382],
 [1.3775000000000002,
  1.4656085269321246,
  0.6952380952380953,
  0.5333333333333333],
 [1.3775000000000002,
  1.4656085269321246,
  0.8119047619047619,
  0.5988095238095238],
 [1.3775000000000002,
  1.4656085269321246,
  0.7547619047619047,
  0.5440476190476191],
 [1.3775000000000002,
  1.4656085269321246,
  0.4107142857142857,
  0.5702380952380953],
 [1.3775000000000002,
  1.4656085269321246,
  0.3571428571428572,
  0.580952380952381],
 [1.3775000000000002,
  1.4656085269321246,
  0.36785714285714294,
  0.5702380952380952],
 [1.3775000000000002,
  1.4656085269321246,
  0.3130952380952382,
  0.5702380952380952],
 [1.3775000000000002,
  1.4656085269321246,
  0.5333333333333333,
  0.2964285714285714],
 [1.3775000000000002,
  1.4656085269321246,
  0.5988095238095238,
  0.4392857142857142],
 [1.3775000000000002,
  1.4656085269321246,
  0.5440476190476191,
  0.7571428571428571],
 [1.3775000000000002,
  1.4656085269321246,
  0.5702380952380953,
  0.7523809523809524],
 [1.3775000000000002,
  1.4656085269321246,
  0.580952380952381,
  0.7416666666666668],
 [1.3775000000000002,
  1.4656085269321246,
  0.5702380952380952,
  0.8166666666666668],
 [1.3775000000000002,
  1.4656085269321246,
  0.5702380952380952,
  0.9988095238095239],
 [1.3775000000000002,
  1.4656085269321246,
  0.2964285714285714,
  0.9988095238095239],
 [1.3775000000000002,
  1.4656085269321246,
  0.4392857142857142,
  0.6738095238095239],
 [1.3775000000000002,
  1.4656085269321246,
  0.7571428571428571,
  0.28928571428571426],
 [1.3775000000000002,
  1.4656085269321246,
  0.7523809523809524,
  0.26785714285714285],
 [1.3775000000000002,
  1.4656085269321246,
  0.7416666666666668,
  0.2571428571428571],
 [1.3775000000000002,
  1.4656085269321246,
  0.8166666666666668,
  0.18214285714285713],
 [1.3775000000000002,
  1.4656085269321246,
  0.9988095238095239,
  0.011904761904761904],
 [1.3775000000000002,
  1.4656085269321246,
  0.9988095238095239,
  0.02261904761904762],
 [1.3775000000000002,
  1.4656085269321246,
  0.6738095238095239,
  0.02261904761904762],
 [1.3775000000000002,
  1.4656085269321246,
  0.28928571428571426,
  0.02261904761904762],
 [1.3775000000000002,
  1.4656085269321246,
  0.26785714285714285,
  0.02261904761904762],
 [1.3775000000000002,
  1.4656085269321246,
  0.2571428571428571,
  0.02261904761904762],
 [1.3775000000000002, 1.4656085269321246, 0.18214285714285713, 0.075],
 [1.3775000000000002,
  1.4537574671445637,
  0.011904761904761904,
  0.2738095238095238],
 [1.3775000000000002,
  1.4537574671445637,
  0.02261904761904762,
  0.4666666666666667],
 [1.3775000000000002,
  1.4537574671445637,
  0.02261904761904762,
  0.4666666666666667],
 [1.3775000000000002,
  1.4537574671445637,
  0.02261904761904762,
  0.4666666666666667],
 [1.3775000000000002,
  1.4537574671445637,
  0.02261904761904762,
  0.6142857142857142],
 [1.3775000000000002,
  1.4537574671445637,
  0.02261904761904762,
  0.8178571428571428],
 [1.3775000000000002, 1.4537574671445637, 0.075, 0.7773809523809522],
 [1.3775000000000002,
  1.4537574671445637,
  0.2738095238095238,
  0.5773809523809523],
 [1.3775000000000002,
  1.4537574671445637,
  0.4666666666666667,
  0.3904761904761905],
 [1.3775000000000002,
  1.4537574671445637,
  0.4666666666666667,
  0.42023809523809524],
 [1.3775000000000002,
  1.4537574671445637,
  0.4666666666666667,
  0.42023809523809524],
 [1.3775000000000002,
  1.4537574671445637,
  0.6142857142857142,
  0.2726190476190476],
 [1.3775000000000002,
  1.4537574671445637,
  0.8178571428571428,
  0.06904761904761905],
 [1.3775000000000002,
  1.4537574671445637,
  0.7773809523809522,
  0.05714285714285715],
 [1.3775000000000002,
  1.4537574671445637,
  0.5773809523809523,
  0.23452380952380952],
 [1.3775000000000002,
  1.4537574671445637,
  0.3904761904761905,
  0.605952380952381],
 [1.3775000000000002,
  1.4537574671445637,
  0.42023809523809524,
  0.6023809523809524],
 [1.3775000000000002,
  1.4537574671445637,
  0.42023809523809524,
  0.6357142857142858],
 [1.3775000000000002,
  1.4537574671445637,
  0.2726190476190476,
  0.8202380952380953],
 [1.3775000000000002,
  1.4537574671445637,
  0.06904761904761905,
  0.9857142857142858],
 [1.3775000000000002,
  1.4537574671445637,
  0.05714285714285715,
  1.0250000000000001],
 [1.3775000000000002,
  1.4537574671445637,
  0.23452380952380952,
  1.1642857142857144],
 [1.3775000000000002,
  1.4537574671445637,
  0.605952380952381,
  1.1726190476190477],
 [1.3775000000000002,
  1.4537574671445637,
  0.6023809523809524,
  1.1607142857142858],
 [1.3775000000000002,
  1.4537574671445637,
  0.6357142857142858,
  1.138095238095238],
 [1.3775000000000002,
  1.4537574671445637,
  0.8202380952380953,
  0.9535714285714285],
 [1.3775000000000002,
  1.4537574671445637,
  0.9857142857142858,
  0.7880952380952381],
 [1.3775000000000002,
  1.4537574671445637,
  1.0250000000000001,
  1.0976190476190477],
 [1.3775000000000002,
  1.4537574671445637,
  1.1642857142857144,
  1.3571428571428572],
 [1.3775000000000002,
  1.4537574671445637,

In [164]:
output_all_batches = np.array(output_all_batches)
input_all_batches = np.array(input_all_batches)

In [167]:
input_all_batches.shape

(3267, 4)

In [168]:
output_all_batches = output_all_batches.reshape(3267,1)
input_all_batches = input_all_batches.reshape(3267,4)

In [169]:
input_all_batches.shape,output_all_batches.shape

((3267, 4), (3267, 1))

In [170]:
input_all_batches = input_all_batches.T
output_all_batches = output_all_batches.T
input_all_batches.shape,output_all_batches.shape

((4, 3267), (1, 3267))

In [198]:
#Save the new data
np.savetxt('input.csv',input_all_batches,delimiter=',')
np.savetxt('output.csv',output_all_batches,delimiter=',')